<div class="wrapper paddingi">
  <h2 class="h2_index_big">Почему именно мы?</h2>

  <div class="justify">
    <div class="justy-block">
      <img src="../../../../../../assets/img/first_icon.svg" />
      <p class="justy-block-zag">GoodDeal - это добросовестные работодатели!</p>
      <p>Поможем найти подходящую работу!</p>
    </div>
    <div class="justy-block">
      <img src="../../../../../../assets/img/second_icon.svg" />
      <p class="justy-block-zag">GoodDeal - это ответственные соискатели!</p>
      <p>Найдём порядочных работников!</p>
    </div>
    <div class="justy-block">
      <img src="../../../../../../assets/img/third_icon.svg" />
      <p class="justy-block-zag">GoodDeal - это прозрачно!</p>
      <p>Работаем прозрачно, без скрытых комиссий!</p>
    </div>
    <div class="justy-block">
      <img src="../../../../../../assets/img/fourth_icon.svg" />
      <p class="justy-block-zag">GoodDeal - это возможность выбора!</p>
      <p>Самостоятельно выбирайте работу/работника!</p>
    </div>
    <div class="justy-block">
      <img src="../../../../../../assets/img/sixth_icon.svg" />
      <p class="justy-block-zag">GoodDeal - это экономия Вашего времени!</p>
      <p>Ищите работу/работника по ключевым параметрам!</p>
    </div>
    <div class="justy-block">
      <img src="../../../../../../assets/img/seventh_icon.svg" />
      <p class="justy-block-zag">GoodDeal - это выбор в пользу качества!</p>
      <p>Работаем только с надёжными работодателями!</p>
    </div>
  </div>

</div>
