<div mat-dialog-content class="with_field">
  <p class="h1">Чтобы заказчикам было проще Вас найти и Вам предложили больше заданий, максимально детально заполните все поля</p>
  <div>
    <app-change-account-info [dataPartnerInfo]="data" [isEditProfileInfo]="false"></app-change-account-info>
  </div>

  <div style="padding-top: 20px;">
    <app-type-perform-categories [isProfile]="false" [partnerId]="data.idPartner"
      (eventAddAllNewShortCategories)="addAllNewShortCategories($event)">
    </app-type-perform-categories>
  </div>

  <div *ngFor="let error of obligatoryPerformerInfo.getErrorsWithoutFields(); let i = index">
    <app-validation-error-template [errorHandler]="obligatoryPerformerInfo" [index]="i">
    </app-validation-error-template>
  </div>


  <div class="dialog-actions margin-top-30" mat-dialog-actions>
    <button class="orange_btn" (click)="onNoClick()">Отмена</button>
    <button class="orange_btn" (click)="updatePartneInfo()" >Изменить</button>
  </div>
</div>
