<h1 class="h1">Вакансии</h1>

<div class="select_roles">
  <mat-select [(ngModel)]="vacanciesWithCountedPages.filterStatusVacancy" (selectionChange)="selectFilterStatus($event.value)">
    <mat-option *ngFor="let filter of filterStatusVacancyMapper" [value]="filter.value">
        {{filter.viewValue}}
    </mat-option>
  </mat-select>
</div>

<mat-form-field class="table-filter-area">
  <input matInput (keyup) = "applyFilter($event.target.value)" placeholder = "Поиск">
</mat-form-field>

  <table mat-table [dataSource] = "dataSource" (matSortChange)="sortChange($event)" matSort class = "table_users">

    <!-- Id Column -->
    <ng-container matColumnDef = "id">
        <th *matHeaderCellDef mat-sort-header> ID </th>
        <td *matCellDef = "let row">
            <a (click)="linkToVacancy(row.id)" class="link">{{row.id}}</a>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef = "name">
        <th *matHeaderCellDef mat-sort-header> Название </th>
        <td *matCellDef = "let row"> {{row.name}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef = "status">
        <th *matHeaderCellDef mat-sort-header > Статус </th>
        <td *matCellDef = "let row"> {{vacancyStatusTranslate[row.status]}} </td>
    </ng-container>

    <!-- Date create Column -->
    <ng-container matColumnDef = "createdAt">
        <th *matHeaderCellDef mat-sort-header > Дата создания </th>
        <td *matCellDef = "let row"> {{row.createdAt | date:'dd.MM.yyyy HH:mm'}} </td>
    </ng-container>

    <!-- Date published -->
    <ng-container matColumnDef = "dateEndPublication">
      <th *matHeaderCellDef mat-sort-header > Дата окончания публикации</th>
      <td *matCellDef = "let row"> {{row.dateEndPublication | date:'dd.MM.yyyy HH:mm'}} </td>
  </ng-container>

    <!-- Operations Column -->
    <ng-container matColumnDef="operations">
        <th *matHeaderCellDef mat-sort-header > Операции </th>
        <td *matCellDef = "let row" class = "users_btns">
            <button matTooltip = "Удалить задачу" class = "buttonDeleteUsers " (click) = "deleteVacancy(row)"></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
  [pageSize]="vacanciesWithCountedPages.pageableParams.size"
  [pageSizeOptions]="[15, 40, 80]"
  [showFirstLastButtons]="true"
  [length]="vacanciesWithCountedPages.pageableParams.countedPages"
  [pageIndex]="vacanciesWithCountedPages.pageableParams.page"
  (page)="handlePage($event)">
</mat-paginator>
