<div class="block_zag_index about_block">
	<div class="wrapper paddingi">
		<div class="left_index_black">
			<h1 class="big_h1">Добро пожаловать<br>в&nbsp;GoodDeal!</h1>
			<p class="podh1_about">GoodDeal - это многофункциональный Интернет-агрегатор, который поможет:</p>
			<ul class="about_ul">
				<li>Найти специалиста любого профиля;</li>
				<li>Решить вопросы с логистикой;</li>
        <li>Привлечь больше клиентов и новые заказы;</li>
				<li>Найти работу или подработку;</li>
        <li>Заказчикам найти специалистов любого профиля;</li>
				<li>Найти новых работников в компанию.</li>
			</ul>
		</div>
		<div class="right_index_block gd-image"></div>
	</div>
</div>

<div class="category_index">
	<div class="wrapper">
		<h2 class="h2_index_big paddingi"><span class="orange">GoodDeal</span> – это ваши возможности!</h2>
		<div style="display: flex; margin-bottom: 15px;">
			<a href="../../../../../assets/Презентация GoodDeal.pdf" class="link" target="_blank">Скачать презентацию</a>
		</div>

		<div class="flex">
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это все специалисты в одном приложении!</p>
					<p>Наш сервис предоставит Вам выбор специалистов из различных сфер деятельности, которые смогут выполнить любые Ваши требования.</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это новые заказы!</p>
					<p>Наш сервис помогает найти новых клиентов и больше заказов специалистам всех профилей и направлений.</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это прозрачно! </p>
					<p>Мы работаем без скрытых комиссий. Мы не берем денег с пользователей за клики, за продвижение профиля или за возможность создать задание и поднятие его в топ!</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это возможность выбора!</p>
					<p>Наш сервис предоставляет возможность выбора среди заказов, специалистов, вакансий и соискателей и остановить свой выбор на наиболее понравившемся варианте!</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это возможность найти подходящую работу!</p>
					<p>Наш сервис предоставляет широкий выбор вакансий под любые потребности: это может быть подработка в свободное время, а может быть работа на постоянную основу!</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это экономия Вашего времени!</p>
					<p>Наш сервис даёт Вам отличную возможность решить большинство своих проблем не выходя при этом из дома!</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это выбор в пользу качества!</p>
					<p>Каждый профиль имеет свои оценки и отзывы, поэтому Вы без особых усилий сможете остановить свой выбор именно на сотрудничестве с добросовестным пользователем!</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это возможности без границ!</p>
					<p>Сервис включает в себя одновременно 2 приложения: поиск работы и услуг!</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это взаимовыгодное сотрудничество!</p>
					<p>Помогая Вам найти специалиста/работника, мы помогаем специалисту/работнику найти Вас!</p>
				</div>
			</div>
			<div class="vozm">
				<div class="vozm_content">
					<p class="vozm_orange_zag">это современно!</p>
					<p>Большинство процессов приложения автоматизированы, делая использование его более удобным и приятным!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="video_block">
	<div class="iframe_block">
		<div id="player1" class="player1"></div>
    <div id="player2" class="player2"></div>
	</div>
</div>

<div>
    <div class="wrapper" style="padding-bottom: 11px;">
        <div>
            <div>
                <div class="faq">
                    <div class="block">
                        <div class="block_navigate">
                            <a href="/support/reasons_blocking">
                                <button class="orange_btn">Причины блокировки</button>
                            </a>
                            <a href="/support/motivation_programm">
                                <button class="orange_btn">Мотивационная программа</button>
                            </a>
                            <a href="/support/legal_info">
                              <button class="orange_btn">Контакты</button>
                          </a>
                        </div>
                        <div class="block_navigate">
                            <a href="/support/commission">
                                <button class="orange_btn">Условия формирования комиссии</button>
                            </a>
                            <a href="/support/pricing">
                                <button class="orange_btn">Условия ценообразования</button>
                            </a>
                            <a href="/support/faq">
                              <button class="orange_btn">F.A.Q</button>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
