.mode-tasks-area {
  margin-top: 90px;
}

@media(min-width: 446px) {
  .zakaz-labe {
    position: absolute;
    right: 27px;
    top: -64px;
  }

  .isp-label {
    top: -64px;
    position: absolute;
    margin-right: 15px;
    right: 178px;
  }

  .cust-label{
    position:absolute;
    top:-64px;
    margin-right: 35px;
    right: 335px;
  }
}

@media(max-width: 445px) {
  .mode-tasks-area { margin-top: initial; margin-bottom: 20px;}
  .zakaz-labe {right: auto; width: 190px;}
  .isp-label {right: auto;  margin-right: initial;}
}
