<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GoodDeal – услуги и работа в Москве и Московской области | Лучшие исполнители Ваших заданий gooddealonline.ru</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">

    <meta property="og:image" content="../../assets/img/GD2.png" />
    <meta property="og:url" content="https://moscow.gooddealonline.ru/"/>

    <meta
      name="description"
      content="Gooddeal – это агрегатор, который стремится свести между собой исполнителей с потенциальными
      заказчиками. Мы поможем Вам найти специалистов всех профилей."
    />

    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content='GoodDeal – услуги и работа в Москве и Московской области | Лучшие исполнители Ваших заданий gooddealonline.ru' />
    <meta
      property="og:description"
      content="Gooddeal – это агрегатор, который стремится свести между собой исполнителей с потенциальными
      заказчиками. Мы поможем Вам найти специалистов всех профилей."
    />
    <meta name="keywords" content="GoodDeal, Good Deal, Гуддил, гуд дил, работа, фриланс, задания, объявления, заработок, подработка, услуги,
    перевозка, доставка, ремонт, попутчик, курьер, мастер">

    <meta name="yandex-verification" content="4e5ee91fb15fceca" />
    <meta name='wmail-verification' content='1523467285cd96a64785a7e5664f45ef' />

    <meta name="google-site-verification" content="tUveRJ1J8bt-nkvdTACCjssapVNIy84kUpPC2n6FFYE" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='assets/bootstrap.min.js'></script>

    <link rel="stylesheet" type="text/css" href="../../styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../gd.css"/>

    <style>
      b { font-weight: bold;}
      .support a {
        background-size: 60px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f7812a;
        background-image: url(../../assets/icons/headphones.svg);
        width: 80px;
        height: 80px;
        border-radius: 50px;
      }
      .support {
        cursor: pointer;
        position: fixed;
        bottom: 39px;
        left: 90px;
        box-shadow: none;
        background: none;
      }

      @media(max-width: 1530px) {
        .support {display: none;}
      }

      .admin_block_mob_auth {
        padding: 30px 30px 193px;
      }

      .nav_dop_mob a {
        line-height: normal;
        margin-bottom: 10px;
      }

      .promotions .category_block_content:before {
        width: 160px;
        left: -44px;
      }

      .promotions .category_block {
        margin-left: auto;
        margin-right: auto;
      }

      @media(min-width: 1220px) {
        .promotions .category_block {width: 535px}
        .last_news_block a {width: 400px;}
        .last_news_block {display: flex;}
      }

      .underline:hover {
        text-decoration: underline;
      }

    </style>
  </head>
  <body>

  <!-- Yandex.Metrika counter -->
  <script>
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
     ym(69792562, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/69792562" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <div>
    <header class="header">
      <div class="wrapper">
        <div class="logo paddingi">
          <a style="background-image: url(../../assets/icons/gd_icon.svg); background-size: 40px; background-repeat: no-repeat; width: 40px; height: 38px;" class="logo_icon" href="/"></a>
        </div>

        <nav class="nav mob_unvis">
          <a class="def-href-point" href="https://gooddealonline.ru/new_task">Создать задание</a>
          <a class="def-href-point" href="https://gooddealonline.ru/find_task">Найти задание</a>
          <a class="def-href-point" href="https://gooddealonline.ru/performers">Найти исполнителя</a>
          <a class="def-href-point" href="https://gooddealonline.ru/about_us">О компании</a>
          <a class="def-href-point" href="https://gooddealonline.ru/our_partners">Партнеры</a>
          <a class="def-href-point" href="https://gooddealonline.ru/promotion">Акции</a>
          <a class="def-href-point" href="/news">Новости</a>
        </nav>

        <div class="admin mob_unvis paddingi">
          <a class="reg_link" href="https://gooddealonline.ru/registration">
            Регистрация
          </a>
          <a class="enter_link" href="https://gooddealonline.ru/login">
            Вход
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </header>

    <div class="block_zag_index">
      <div class="wrapper paddingi">
        <div class="left_index_black">
          <p class="big_h1">Мы работаем - вы отдыхаете</p>
          <p class="podh1_index">Поможем найти лучшего исполнителя ваших заданий!</p>
          <!-- <p class="big_h1">8800-301-12-97</p> -->
          <a class="big_h1 underline" style="cursor: pointer">8 (800) 301-12-97</a>
        </div>
        <div class="right_index_block gd-main-image"></div>
      </div>
    </div>

    <div class="category_index" style="padding-top: 110px;">
    	<div class="wrapper">
        <p class="h2_index paddingi">Мы имеем большой штат исполнителей</p>
        <p class="podh2_index paddingi">готовы помочь вам в решении самых разнообразных задач</p>
          <div>
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/cargo/">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Грузоперевозки и услуги грузчиков</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_3109_1937982388" alt="Грузоперевозки и услуги грузчиков">
                  </div>
                </div>
              </a>
            </div>
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/courier">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Курьерские доставки</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_3105_455457261" alt="Курьерские доставки">
                  </div>
                </div>
              </a>
            </div>
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/any_product">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Покупка любого товара с доставкой на дом</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_3101_455457261" alt="Покупка любого товара с доставкой на дом">
                  </div>
                </div>
              </a>
            </div>
             <!--
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/correspondence">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Попутный груз, корреспонденция</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_3116_-1132015408" alt="Попутный груз, корреспонденция">
                  </div>
                </div>
              </a>
            </div>
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/fellow_travelers">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Поиск попутчиков</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_3126_-1804187850" alt="Поиск попутчиков">
                  </div>
                </div>
              </a>
            </div>
            -->
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/repairs">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Ремонт, строительство</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_856_455457261" alt="Ремонт, строительство">
                  </div>
                </div>
              </a>
            </div>
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/beauty">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Красота и здоровье</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_401_455457261" alt="Красота и здоровье">
                  </div>
                </div>
              </a>
            </div>
            <!--
            <div  style="display: contents">
              <a class="category_block" href="/category_descr/car">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Всё для автомобилей</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_446_-1280553247" alt="Всё для автомобилей">
                  </div>
                </div>
              </a>
            </div>
            -->
            <div style="display: contents">
              <a class="category_block" href="/category_descr/education">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Образование</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_359_455457261" alt="Образование">
                  </div>
                </div>
              </a>
            </div>
            <!--
            <div style="display: contents">
              <a class="category_block" href="/category_descr/jurisprudence">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Юриспруденция, бухгалтерия</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_379_455457261" alt="Юриспруденция, бухгалтерия">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/help_computer">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Помощь с компьютерной/цифровой/свето-звуковой техникой</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_929_455457261" alt="Помощь с компьютерной/цифровой/свето-звуковой техникой">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/photo">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Фото/видео/полиграфические услуги</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_559_455457261" alt="Фото/видео/полиграфические услуги">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/clothing">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Одежда, обувь, аксессуары</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_9290_-1234334851" alt="Одежда, обувь, аксессуары">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/events">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Мероприятия и праздники</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_688_455457261" alt="Мероприятия и праздники">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/equipment_repair">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Ремонт и установка бытовой/садовой/строительной техники</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_524_455457261" alt="Ремонт и установка бытовой/садовой/строительной техники">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/cooking">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Кулинария</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_978_455457261" alt="Кулинария">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/сleaning_assistance">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Помощь в уборке и домашних делах</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_759_455457261" alt="Помощь в уборке и домашних делах">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/development_web">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Разработка программного обеспечения и WEB-сервисов</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_606_455457261" alt="Разработка программного обеспечения и WEB-сервисов">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/work_text">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Работы с текстом</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_713_455457261" alt="Работы с текстом">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/design">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Дизайн</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_631_-1601619777" alt="Дизайн">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/advertising">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Реклама</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_663_455457261" alt="Реклама">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/tourism">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Туристические услуги</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_59_455457261" alt="Туристические услуги">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/special_equipment">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Услуги спецтехники</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_734_455457261" alt="Услуги спецтехники">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/funeral_services">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Ритуальные услуги</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_332_455457261" alt="Ритуальные услуги">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/security">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Охрана и безопасность</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_185_455457261" alt="Охрана и безопасность">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/quality_control">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Контроль качества</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_648_455457261" alt="Контроль качества">
                  </div>
                </div>
              </a>
            </div>
            <div style="display: contents">
              <a class="category_block" href="/category_descr/creation">
                <div class="category_block_content">
                  <div>
                    <p class="name_category_index">Услуги творческой направленности</p>
                  </div>
                  <div class="category-photo">
                    <img class="photo-position" src="../../assets/img/image_static_categories/category_1019_455457261" alt="Услуги творческой направленности">
                  </div>
                </div>
              </a>
            </div>
            -->
          </div>
      </div>
    </div>

    <div class="about_block" style="position: relative; padding-top: 130px;">
      <div class="wrapper paddingi">
        <div class="left_index_black">
          <h1 style="font-weight: bold; font-size: 50px;">Добро пожаловать<br>в&nbsp;GoodDeal!</h1>
          <p  style="font-size: 19px; max-width: 600px;">GoodDeal - это многофункциональный Интернет-агрегатор</p>
          <div style="text-indent: 35px;">
            <p style="font-size: 19px; max-width: 600px; text-align: justify;">Вопрос квалифицированных и ответственных исполнителей всегда остаётся открытым.
              Чрезвычайно сложно найти сегодня человека, который был бы готов максимально выложиться для выполнения своих обязанностей.
              Извечное противостояние заказчиков и исполнителей, заставляет простаивать работу и приносит обеим сторонам лишь потери, в том числе и финансовые.
            </p>
            <p style="font-size: 19px; max-width: 600px; text-align: justify;">В столице за последние годы наблюдается настоящий строительный бум – куда ни глянь, везде что-то строится. Как никогда актуален вопрос
              где <strong>найти рабочих на стройку</strong> – профессионалов своего дела, готовых не халтурить, а работать в полную силу. Отдельная головная боль
              для всех владельцев жилплощади где найти рабочих для ремонта, которые без вечных часовых перекуров работали бы по срокам,
              и грамотно расходовали при этом стройматериалы.
            </p>
            <p style="font-size: 19px; max-width: 600px; text-align: justify;">Для того, чтобы найти хорошим исполнителей, нужен проверенный ресурс, который поможет решить вам любую проблему в вашем городе.
              Например, вы переезжаете и вам необходимо <strong>найти грузчиков в Москве</strong>, которые не испортят ваши вещи и ничего не разобьют. Или например, вы собрались вместе с друзьями,
              чтобы весело провести время. Наверняка вы захотите поесть чего-нибудь вредного и вкусного, и конечно никто из вас не захочет идти в магазин.
              Идеальный вариант – это <strong>заказать курьера для доставки</strong>, который не опоздает и не принесёт вам холодную пиццу.
              Так где же найти всех этих прекрасных исполнителей? Ответ один – только на сайте компании "GoodDeal".
            </p>
          </div>
        </div>
        <div style="top: 50px;" class="right_index_block gd-image"></div>
      </div>
    </div>

    <!-- <div style="padding-bottom: 100px;" class="promotions">
      <h1 class="h2_index">Будь в курсе наших новостей</h1>
      <p class="podh2_index paddingi">Самые актуальные новости о нас и наших партнёрах</p>
      <div>
		  	<div style="display: flex;">
		  		<a class="category_block" href="/news/1">
		  				<div class="category_block_content">
		  				<div>
		  					<h2 class="name_category_index">Чем обусловлена популярность курьерской доставки документов? </h2>
		  				</div>
		  				<div class="category-photo">
		  					<img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_1.jpg" alt="Чем обусловлена популярность курьерской доставки документов?">
		  				</div>
		  			</div>
		  		</a>
		  	</div>
        <div style="display: flex;">
		  		<a class="category_block" href="/news/2">
		  				<div class="category_block_content">
		  				<div>
		  					<h2 class="name_category_index">Как выбрать рабочих для ремонта дома или квартиры? 7 правил</h2>
		  				</div>
		  				<div class="category-photo">
		  					<img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_2.jpg" alt="Как выбрать рабочих для ремонта дома или квартиры? 7 правил">
		  				</div>
		  			</div>
		  		</a>
		  	</div>
        <div style="display: flex;">
		  		<a class="category_block" href="/news/3">
		  				<div class="category_block_content">
		  				<div>
		  					<h2 class="name_category_index">Профессиональная команда грузчиков - как ее найти?</h2>
		  				</div>
		  				<div class="category-photo">
		  					<img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_3.jpg" alt="Профессиональная команда грузчиков - как ее найти?">
		  				</div>
		  			</div>
		  		</a>
		  	</div>
        <div style="display: flex;">
		  		<a class="category_block" href="/news/4">
		  				<div class="category_block_content">
		  				<div>
		  					<h2 class="name_category_index">Грузчик - одна из самых популярных профессий. Виды грузчиков</h2>
		  				</div>
		  				<div class="category-photo">
		  					<img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_4.png" alt="Грузчик - одна из самых популярных профессий. Виды грузчиков">
		  				</div>
		  			</div>
		  		</a>
		  	</div>
        <div style="display: flex;">
		  		<a class="category_block" href="/news/5">
		  				<div class="category_block_content">
		  				<div>
		  					<h2 class="name_category_index">ТОП-5 причин воспользоваться аутсорсингом курьеров</h2>
		  				</div>
		  				<div class="category-photo">
		  					<img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_5.png" alt="ТОП-5 причин воспользоваться аутсорсингом курьеров">
		  				</div>
		  			</div>
		  		</a>
		  	</div>
		  </div>
		  <div>
		  	<a class="see_cat" href="/news">
		  		Посмотреть все
		  	</a>
      </div>
    </div> -->

    <div class="category_index" style="padding-bottom: 110px;">
    	<div class="wrapper">
        <h1 class="h2_index">Будь в курсе наших новостей</h1>
        <p class="podh2_index paddingi">Самые актуальные новости о нас и наших партнёрах</p>
        <div>
          <div  style="display: contents">
		  	    <a class="category_block" href="/news/1">
		  				<div class="category_block_content">
		  				  <div>
		  					  <h2 class="name_category_index">Чем обусловлена популярность курьерской доставки документов? </h2>
		  				  </div>
		  				  <div class="category-photo">
		  					  <img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_1.jpg" alt="Чем обусловлена популярность курьерской доставки документов?">
		  				  </div>
		  			  </div>
		  		  </a>
          </div>
          <div  style="display: contents">
		  	    <a class="category_block" href="/news/2">
		  				<div class="category_block_content">
		  				  <div>
                  <h2 class="name_category_index">Как выбрать рабочих для ремонта дома или квартиры? 7 правил</h2>
		  				  </div>
		  				  <div class="category-photo">
                  <img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_2.jpg" alt="Как выбрать рабочих для ремонта дома или квартиры? 7 правил">
		  				  </div>
		  			  </div>
		  		  </a>
          </div>
          <div  style="display: contents">
		  	    <a class="category_block" href="/news/3">
		  				<div class="category_block_content">
		  				  <div>
                  <h2 class="name_category_index">Профессиональная команда грузчиков - как ее найти?</h2>
		  				  </div>
		  				  <div class="category-photo">
                  <img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_3.jpg" alt="Профессиональная команда грузчиков - как ее найти?">
		  				  </div>
		  			  </div>
		  		  </a>
          </div>
          <div  style="display: contents">
		  	    <a class="category_block" href="/news/4">
		  				<div class="category_block_content">
		  				  <div>
                  <h2 class="name_category_index">Грузчик - одна из самых популярных профессий. Виды грузчиков</h2>
		  				  </div>
		  				  <div class="category-photo">
                  <img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_4.png" alt="Грузчик - одна из самых популярных профессий. Виды грузчиков">
		  				  </div>
		  			  </div>
		  		  </a>
          </div>
          <div  style="display: contents">
		  	    <a class="category_block" href="/news/5">
		  				<div class="category_block_content">
		  				  <div>
                  <h2 class="name_category_index">ТОП-5 причин воспользоваться аутсорсингом курьеров</h2>
		  				  </div>
		  				  <div class="category-photo">
                  <img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_5.png" alt="ТОП-5 причин воспользоваться аутсорсингом курьеров">
		  				  </div>
		  			  </div>
		  		  </a>
          </div>
          <div  style="display: contents">
		  	    <a class="category_block" href="/news/6">
		  				<div class="category_block_content">
		  				  <div>
                  <h2 class="name_category_index">Выбираем исполнителей правильно</h2>
		  				  </div>
		  				  <div class="category-photo">
                  <img class="photo-position" style="object-fit: cover;" src="../../assets/img/news_6.png" alt="Выбираем исполнителей правильно">
		  				  </div>
		  			  </div>
		  		  </a>
          </div>
        </div>
        <div>
          <a class="see_cat" href="/news">
            Посмотреть все
          </a>
        </div>
      </div>
    </div>

    <div class="orange_back">
	      <div class="poligon"></div>
	        <div class="wrapper paddingi">
	      	<div class="telephone_block"></div>
	      	<div class="orange_block_content">
	      		<p class="orange_zag">Работа без привязки к&nbsp;офису</p>
	      		<p class="orange_podzag">Скачайте наше приложение и пользуйтесь GoodDeal, где бы вы не находились.</p>
	      		<div>
	      			<div class="store-block">
	      				<a href="https://play.google.com/store/apps/details?id=com.keeneye.gd" target="_blank" class="google_play_link"></a>
	      			</div>
	      			<div class="qr-code"></div>
	      		</div>
	      		<div style="margin-top: 20px;">
	      			<div class="store-block">
	      				<a href="https://apps.apple.com/ru/app/gooddeal/id1507809289" target="_blank" class="apple_store_link"></a>
	      			</div>
	      			<div class="qr-code-apps"></div>
	      		</div>
	      	</div>
	      </div>
    </div>

    <div class="support">
      <a href="https://gooddealonline.ru/support"></a>
    </div>

    <footer class="footer mob_unvis">
	    <div class="wrapper">
	    	<div class="footer_logo paddingi">
          <a style="background-image: url(../../assets/icons/gd_icon.svg); background-size: 40px; background-repeat: no-repeat; width: 40px; height: 38px;" class="logo_icon" href="/"></a>
	    	</div>
	    	<div class="footer_menu paddingi">
	    		<nav class="nav_footer">
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/faq">F. A. Q.</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/reasons_blocking">Причины блокировки аккаунтов</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/motivation_programm">Мотивационная программа</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/commission">Условия формирования комиссии</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/pricing">Условия ценообразования</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support">Служба поддержки</a>
	    		  <a target="_blank" href="https://gooddealonline.ru/terms_of_user">
	    		  	Публичная оферта
	    		  </a>
	    		  <a target="_blank" href="https://gooddealonline.ru/privacy_policy">
	    		  	Политика конфеденциальности
            </a>
            <a class="def-href-point" href="/support/contact">Контакты</a>
	    		</nav>
	    	</div>
	    	<div class="footer_telephone paddingi">
          <p class="telephone_footer" style="font-size: 22px;">office@gooddealonline.ru</p>
          <!-- <p class="telephone_footer" style="margin-top: 20px; font-size: 22px;">8800-301-12-97</p> -->
          <p class="telephone_footer underline" style="margin-top: 20px; font-size: 22px; cursor: pointer">8 (800) 301-12-97</p>
          <p class="telephone_footer" style="font-size: 18px; margin-top: 20px;">Режим работы: круглосуточно  понедельник-воскресенье</p>
          <!-- <p class="telephone_footer" style="font-size: 18px; margin-top: 20px;">г. Москва, ул. Дорожная д.8 корп.1, 2 этаж, офис 211.</p> -->
          <p class="telephone_footer" style="font-size: 18px; margin-top: 20px;">г. Москва, 117342, ул Бутлерова, 17.</p>

	    	</div>
	    	<div class="footer_last paddingi">
	    		<a href="https://play.google.com/store/apps/details?id=com.keeneye.gd" target="_blank" class="google_play_link"></a>
	    		<a href="https://apps.apple.com/ru/app/gooddeal/id1507809289" target="_blank" class="apple_store_link"></a>
	    		<div class="socseti_footer">
	    			<p class="mb15">Следите за&nbsp;нами в&nbsp;соц.&nbsp;сетях:</p>
	    			<div>
	    			<a class="icon_vk" href="https://vk.com/public196725756" target="_blank"></a>
	    			<a class="icon_instagram" target="_blank" href="https://www.instagram.com/gooddeal.online/"></a>
	    			<a class="icon_facebook" target="_blank" href="https://www.facebook.com/GoodDealFB"></a>
	    			<a class="icon_youtube" target="_blank" href="https://www.youtube.com/channel/UCaGunnMSwgV4kXqWSa_AHag?view_as=subscriber"></a>
	    		</div>
	    		</div>
	    		<p class="copyright">©&nbsp;2021 GoodDeal. Все права защищены.</p>
	    	</div>
	    	<div class="clear"></div>
	    </div>
    </footer>

    <div>
      <button type="button" class="open_menu" data-toggle="modal" data-target="#myStaticModal">
          <span></span>
          <span></span>
          <span></span>
      </button>
    </div>

    <div class="modal fade" id="myStaticModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="admin_block_mob">

            <button type="button" class="close" data-dismiss="modal" id ="closeModal"  aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <a class="enter_link" href="https://gooddealonline.ru/login">Вход</a>
            <a class="reg_link" href="https://gooddealonline.ru/registration">Регистрация</a>

          </div>

          <nav class="nav_mob">
            <a class="def-href-point" href="https://gooddealonline.ru/new_task">Создать задание</a>
            <a class="def-href-point" href="https://gooddealonline.ru/find_task">Найти задание</a>
            <a class="def-href-point" href="https://gooddealonline.ru/performers">Найти исполнителя</a>
            <a class="def-href-point" href="https://gooddealonline.ru/about_us">О компании</a>
            <a class="def-href-point" href="https://gooddealonline.ru/our_partners">Партнеры</a>
            <a class="def-href-point" href="https://gooddealonline.ru/promotion">Акции</a>
            <a class="def-href-point" href="/news">Новости</a>
          </nav>

          <nav class="nav_dop_mob">
            <a class="def-href-point" href="https://gooddealonline.ru/support/faq">F. A. Q.</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/reasons_blocking">Причины блокировки аккаунтов</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/motivation_programm">Мотивационная программа</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/commission">Условия формирования комиссии</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/pricing">Условия ценообразования</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support">Служба поддержки</a>
	    		  <a target="_blank" href="https://gooddealonline.ru/terms_of_user">
	    		  	Публичная оферта
	    		  </a>
	    		  <a target="_blank" href="https://gooddealonline.ru/privacy_policy">
	    		  	Политика конфеденциальности
            </a>
            <a class="def-href-point" href="/support/contact">Контакты</a>
          </nav>

          <p class="mt50">Следите за&nbsp;нами в&nbsp;соц.&nbsp;сетях:</p>

          <a class="icon_vk" style="background-image: url(../../../../assets/icons/vk_hover.svg)" href="https://vk.com/public196725756" target="_blank"></a>
          <a class="icon_instagram" style="background-image: url(../../../../assets/icons/instagram_hover.svg)" target="_blank" href="https://www.instagram.com/gooddeal.online/"></a>
          <a class="icon_facebook" style="width: 25px; background-image: url(../../../../assets/icons/facebook1.svg)" target="_blank" href="https://www.facebook.com/GoodDealFB"></a>
          <a class="icon_youtube" style="background-image: url(../../../../assets/icons/youtube_hover.svg)" target="_blank" href="https://www.youtube.com/channel/UCaGunnMSwgV4kXqWSa_AHag?view_as=subscriber"></a>

          <div style="margin-top: 30px;">
            <div>
              <a href="https://play.google.com/store/apps/details?id=com.keeneye.gd" style="background-color: black;" target="_blank" class="google_play_link"></a>
            </div>
            <div style="margin-top: 10px;">
              <a href="https://apps.apple.com/ru/app/gooddeal/id1507809289" style="background-color: black;" target="_blank" class="apple_store_link"></a>
            </div>
          </div>

          <p class="telephone_footer" style="color: #666; font-size: 22px;">office@gooddealonline.ru</p>
          <!-- <p class="telephone_footer" style="color: #666; margin-top: 20px; font-size: 22px;">8800-301-12-97</p> -->
          <a class="telephone_footer" style="color: #666; margin-top: 20px; font-size: 22px;">8 (800) 301-12-97</a>

          <p class="telephone_footer" style="color: #666; font-size: 18px; margin-top: 20px;">Режим работы: круглосуточно  понедельник-воскресенье</p>
          <!-- <p class="telephone_footer" style="color: #666; font-size: 18px; margin-top: 20px; margin-bottom: 20px;">г. Москва, ул. Дорожная д.8 корп.1, 2 этаж, офис 211</p> -->
          <p class="telephone_footer" style="color: #666; font-size: 18px; margin-top: 20px; margin-bottom: 20px;">г. Москва, 117342, ул Бутлерова, 17</p>
          <p class="copyright_mob">©&nbsp;2021 GoodDeal. Все права защищены.</p>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
