.friends {
    width: 100%;
    margin-left: 50px;
}

.users_btns {
    width: 90px;
}

mat-icon {
    cursor: pointer;
}

.cash_payment_svg {
  margin-left: 5px;
}

.approved_cash_payment_svg {
  background-color: #22C100;
}
