<div class="wrapper content">
    <div>
        <div class="block-corner">
            <div style="display: -webkit-box">
                <p class="h1 font-weight-900 сentre">Политика конфиденциальности</p>
            </div>
            <p class="text-display">1. Настоящая Политика конфиденциальности содержит перечень персональной информации, не подлежащей разглашению, а 
                также условия обработки персональных данных Пользователей сайта https://gooddealonline.ru/, в том числе через Мобильное приложение, 
                обеспечивающее доступ к функциональности интернет-ресурса https://gooddealonline.ru/ (далее — «Сайт») и его Сервисов
            </p>
            <p class="text-display">2. Использование сайта возможно только при условии безоговорочного согласия Пользователя с положениями Политики 
                конфиденциальности и пользовательского соглашения. 
            </p>
            <p class="text-display">3. В случае если Пользователь не согласен с каким-либо условием Политики конфиденциальности, либо условия ему не понятны, 
                он обязан отказаться от использования сайта. 
            </p>
            <p class="text-display">4. Пользователь указывает достоверную информацию о себе в объёмах, необходимых для пользования услугами сайта. 
            </p>
            <p class="text-display">5. В случае передачи Администрации сайта персональных данных Пользователь обязан предоставить достоверную информацию 
                о своих персональных данных и дать согласие на их обработку. Согласие на обработку персональных данных дается без каких-либо специальных оговорок. 
            </p>
            <p class="text-display">6. Согласие на обработку персональных данных включает в себя согласие на обработку данных о ФИО, адресных данных, 
                номере мобильного телефона, адреса электронной почты, а также любых иных переданных Администрации сайта персональных данных. 
            </p>
            <p class="text-display">7. При обработке персональных данных Администрация сайта обязуется придерживаться следующих основных принципов:
            </p>
            <p class="text-display punkt">1. Обработка персональных данных должна осуществляться на законной и справедливой основе.
            </p>
            <p class="text-display punkt">2. Обработка персональных данных осуществляется в полном соответствии с Федеральным законом 
                Российской Федерации от 27.07.2006 г. N 152-ФЗ «О персональных данных».
            </p>
            <p class="text-display punkt">3. Обработка персональных данных должна ограничиваться достижением конкретных, заранее определенных и законных целей. 
                Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.
            </p>
            <p class="text-display punkt">4. Обработке подлежат только персональные данные, которые отвечают целям их обработки.
            </p>
            <p class="text-display punkt">5. Содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки. 
                Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки.
            </p>
            <p class="text-display punkt">6. При обработке персональных данных должны быть обеспечены точность персональных данных, их достаточность, а в 
                необходимых случаях и актуальность по отношению к целям обработки персональных данных. Администрация должна принимать необходимые меры 
                либо обеспечивать их принятие по удалению или уточнению неполных или неточных данных;
            </p>
            <p class="text-display punkt">7. Хранение персональных данных должно осуществляться в форме, позволяющей определить субъекта персональных 
                данных, не дольше, чем этого требуют цели обработки персональных данных.
            </p>
            <p class="text-display">8. Обработка персональных данных Пользователя осуществляется исключительно с целью идентификации Пользователя и поддержания 
                обратной связи между ним и Администрацией сайта. в том числе в целях выполнения обязательств Компании перед Пользователями в отношении 
                использования Сайта и его Сервисов.
            </p>
            <p class="text-display">9. Компания обрабатывает также иную информацию о Пользователях, которая включает в себя:
            </p>
            <p class="text-display punkt">1. информацию, полученную в результате действий других Пользователей на Сайте (в частности, Предложения к Заданиям, Отзывы).
            </p>
            <p class="text-display punkt">2. координаты, определяющие местонахождение мобильного устройства Пользователя, на котором установлено мобильное приложение для доступа к Сервису (данные геолокации).
            </p>
            <p class="text-display">10. Сбор персональных данных Пользователя осуществляется на Сайте при Регистрации и Верификации, а также в дальнейшем при 
                внесении Пользователем по своей инициативе дополнительных сведений о себе с помощью сервисов Сайта. Персональные данные предоставляются 
                Пользователем и являются необходимыми при Регистрации или Верификации.
            </p>
            <p class="text-display">11. Персональные данные Пользователя, которые были сообщены Администрации сайта при дальнейшем взаимодействии Сторон в любой форме.
            </p>
            <p class="text-display">12. Администрация сайта гарантирует, что она не будет разглашать, либо передавать третьим лицам персональные данные 
                Пользователя, за исключением случаев, прямо предусмотренных действующим законодательством.
            </p>
            <p class="text-display">13. Компания принимает правовые, организационные и технические меры в целях обеспечения защиты персональных данных 
                Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также 
                от иных неправомерных действий. Для авторизации доступа к Сайту используется Логин (адрес электронной почты) и Пароль Пользователя. 
                Ответственность за сохранность данной информации несёт Пользователь. Пользователь не вправе передавать собственный Логин и Пароль третьим 
                лицам, а также обязан предпринимать меры по обеспечению их конфиденциальности.
            </p>
            <p class="text-display">14. В соответствии с условиями Политики конфиденциальности не подлежат разглашению следующие данные:
            </p>
            <p class="text-display punkt">1. Персональные данные Пользователя, которые были сообщены в ходе процедуры регистрации.
            </p>
            <p class="text-display punkt">2. Персональные данные Пользователя, которые были сообщены им через форму обратной связи.
            </p>
            <p class="text-display punkt">3. Персональные данные Пользователя, которые были сообщены Администрации сайта при дальнейшем взаимодействии 
                Сторон в любой форме.
            </p>
            <p class="text-display">15. Администрация сайта обязуется предпринимать все необходимые меры для защиты персональных данных 
                Пользователя и не допускать действий, способных привести к разглашению персональных данных Пользователя.
            </p>
            <p class="text-display">16. Администрация сайта вправе направлять Пользователю предложения коммерческого и рекламного характера.
            </p>
            <p class="text-display">17. Пользователь вправе в любой момент сообщить Администрации сайта об изменении своих персональных данных.
            </p>
            <p class="text-display">18. Администрация сайта оставляет за собой право в любой момент внести изменения в любой из пунктов Политики 
                конфиденциальности, не допуская при этом включение в Политику положений, противоречащих действующему законодательству.
            </p>
            <p class="text-display">19. Пользователи вправе направлять Компании свои запросы, в том числе запросы относительно использования их 
                персональных данных, в письменной форме по адресу: 167031, Россия, г. Сыктывкар, ул. Карла Маркса, д. 185, кв. 12 или в форме 
                электронного документа, подписанного квалифицированной электронной подписью в соответствии с законодательством Российской Федерации 
                по адресу электронной почты: office@gooddealonline.ru.
            </p>
        </div>
    </div>
</div>