<div (scroll)="scrollHandler($event)">
  <div class="bottom-chat">
      <input class="textarea-chat" placeholder="Поиск"
          [(ngModel)]="filterVacancy.filterName" (keydown.enter)="search()"
          [ngClass]="{'textarea-chat-with-clear': !filterVacancy.isEmpty()}"
      />
      <button *ngIf="!filterVacancy.isEmpty()" class="clear-button"
          (click)="clearFilter()" matTooltip="Очистить настройки"></button>
      <button class="settings-button">
          <div class="ku-ku setting-window">
              <h1 class="h1">Дополнительная фильтрация</h1>

              <div class="filter-prop">
                  <div class='name_option'>
                      <p class="text">З/П больше</p>
                  </div>
                  <div class="with_field right-align">
                      <input class="input-hard-size" type="number" [(ngModel)]="filterVacancy.byCostMore">
                  </div>
              </div>

              <div class="datetime-interval-section filter-prop">
                  <div class="datetime-section-title">
                      <p class="new_width title-left-align text date-span-height">
                          Дата создания больше
                      </p>
                  </div>
                  <div class="datetime-section right-align">
                      <p-calendar class="datetime-date" readonlyInput="true" [(ngModel)]="filterVacancy.byCreatedAtMore"
                          dateFormat="dd.mm.yy" placeholder="Выберите дату" [locale]="ru_calendar">
                      </p-calendar>
                  </div>
              </div>

              <div class="filter-prop" style="margin-top: 5px;">
                  <div class='name_option'>
                      <p class="text">Выберите город</p>
                  </div>
                  <div class="with_field right-align city-section">
                      <p-dropdown class="city-choose" [options]="cities" [(ngModel)]="filterVacancy.selectedCity"
                          (keyup)="onChangeCity($event)" [filter]="true" placeholder="Выберите город"
                          emptyFilterMessage="Не найдено">
                      </p-dropdown>
                  </div>
              </div>

              <div class="filter-prop">
                <div class='name_option'>
                    <p class="text">График работы</p>
                </div>
                <div class="with_field right-align city-section">
                  <p-dropdown class="city-choose" [options]="scheduleItems" [(ngModel)]="filterVacancy.schedule"
                    placeholder="Выберите график работы">
                  </p-dropdown>
                </div>
              </div>

              <div class="filter-prop">
                <div class='name_option'>
                    <p class="text">Тип занятости</p>
                </div>
                <div class="with_field right-align city-section">
                  <p-dropdown class="city-choose" [options]="employmentItems" [(ngModel)]="filterVacancy.employment"
                    placeholder="Выберите тип занятости">
                  </p-dropdown>
                </div>
              </div>

              <div class="filter-prop">
                <div class='name_option'>
                    <p class="text">Образование</p>
                </div>
                <div class="with_field right-align city-section">
                  <p-dropdown class="city-choose" [options]="educationItems" [(ngModel)]="filterVacancy.education"
                    placeholder="Выберите образование">
                  </p-dropdown>
                </div>
              </div>

              <div class="filter-prop">
                <div class='name_option'>
                    <p class="text">Место работы</p>
                </div>
                <div class="with_field right-align city-section">
                  <p-dropdown class="city-choose" [options]="placeWorkItems" [(ngModel)]="filterVacancy.placeWork"
                    placeholder="Выберите место работы">
                  </p-dropdown>
                </div>
              </div>

              <div class="filter-prop">
                <div class='name_option'>
                    <p class="text">Опыт работы</p>
                </div>
                <div class="with_field right-align city-section">
                  <p-dropdown class="city-choose" [options]="workExperienceItems" [(ngModel)]="filterVacancy.workExperience"
                    placeholder="Выберите место работы">
                  </p-dropdown>
                </div>
              </div>

              <!-- <div *ngIf="isRequiredWorkExperience()" class="filter-prop">
                <div class="with_field right-align" style="width: auto;">
                    <input class="input-hard-size" type='number' placeholder="От" [(ngModel)]="filterVacancy.workExperienceValue">
                </div>
              </div> -->

              <div *ngIf="isAutorizedUser()" class="cb-div" style="margin-top: 10px;">
                  <input type="checkbox" id="c1_onlyMyCountry" [(ngModel)]="filterVacancy.onlyMyCity"/>
                  <label class="label-job text" for="c1_onlyMyCountry">
                      <span></span>Искать только в моём городе
                  </label>
              </div>

              <div class="task-request-operation-container" style="display: flex;">
                  <button class="orange_btn poluchit-btn margin-5 request-handling-btn"
                      (click)="clearFilter()">
                    Очистить фильтр
                  </button>

                  <button class="orange_btn poluchit-btn margin-5 request-handling-btn right-align"
                          (click)="search()">
                      Применить фильтр
                  </button>
              </div>
          </div>
      </button>
      <button class="search-button" (click)="search()"></button>
  </div>
  <div class="clear"></div>

  <div class="filter_category_mob paddingi" style="padding-top: 20px;">
    <div>
      <p class="h1">Выберите категорию</p>
      <div class="category" style="height: 170px; overflow-y: auto; display: block;">
        <app-filter-fields-activity [fieldsActivity]="fieldsActivity" [choosenFieldsActivity]="choosenFieldsActivity"
          [choosenFieldAsctivityIds]="choosenFieldsActivityIds" [isMobileMode]="true" (toggleFieldAcivityEvents)="toggleFieldActivityHandler($event)">
        </app-filter-fields-activity>
      </div>
    </div>
  </div>


  <app-list-vacancies [shortVacancies]="shortVacancies" [vacancyComponentMode]='getVacancyMode'>
  </app-list-vacancies>
</div>
