<app-why-us></app-why-us>

<app-advantages></app-advantages>

<app-special-abilities></app-special-abilities>

<div class="wrapper paddingi">
  <h2 class="h2_index_big no-litle">Почему исполнители GoodDeal работают ответственно?</h2>
  <div class="pochemy">
    <div class="pr-block">Исполнители GoodDeal нацелены на результат.</div>
    <div class="pr-block">В GoodDeal исполнители максимально ответственно подходят к выполнению заданий, ведь от качества их работы зависит рейтинг и вероятность того, что в дальнейшем задание предложат именно ему. </div>
    <div class="pr-block">В GoodDeal реализована система поощрений. Мы поощряем добросовестных исполнителей приятными бонусами, а так же прикрепляем к их личным профилям дополнительные значки качества. </div>
    <!-- <div class="pr-block">Мы являемся одним трех официальных дистрибьюторов компании N, следовательно, продаем дешевле.</div> -->
  </div>
</div>
