<div class="wrapper paddingi">
    <h2 class="h2_index_big">Почему именно мы?</h2>
  
    <div class="justify">
      <div class="justy-block">
        <img src="../../../../../../assets/img/first_icon.svg" />
        <p class="justy-block-zag">GoodDeal - это все специалисты в одном приложении!</p>
        <p>Возможность найти специалистов всех профилей!</p>
      </div>
      <div class="justy-block">
        <img src="../../../../../../assets/img/second_icon.svg" />
        <p class="justy-block-zag">GoodDeal - это добросовестные исполнители!</p>
        <p>Мотивируем исполнителей выполнять работу качественно!</p>
      </div>
      <div class="justy-block">
        <img src="../../../../../../assets/img/third_icon.svg" />
        <p class="justy-block-zag">GoodDeal - это прозрачно!</p>
        <p>Работаем прозрачно, без скрытых комиссий!</p>
      </div>
      <div class="justy-block">
        <img src="../../../../../../assets/img/fourth_icon.svg" />
        <p class="justy-block-zag">GoodDeal - это возможность выбора!</p>
        <p>Возможность самостоятельно договориться о стоимости!</p>
      </div>
      <!-- <div class="justy-block">
        <img src="../../../../../../assets/img/fifth_icon.svg" />
        <p class="justy-block-zag">это возможность облегчить себе жизнь!</p>
        <p>Наш сервис предоставляет широкий выбор специалистов из различных сфер деятельности, которые помогут решить Вам большинство Ваших проблем и забот!</p>
      </div> -->
      <div class="justy-block">
        <img src="../../../../../../assets/img/sixth_icon.svg" />
        <p class="justy-block-zag">GoodDeal - это экономия Вашего времени!</p>
        <p>Возможность быстро решить любой вопрос!</p>
      </div>
      <div class="justy-block">
        <img src="../../../../../../assets/img/seventh_icon.svg" />
        <p class="justy-block-zag">GoodDeal - это выбор в пользу качества!</p>
        <p>Выбирайте лучших исполнителей при помощи оценок и отзывов!</p>
      </div>
      <!-- <div class="justy-block">
        <img src="../../../../../../assets/img/eighth_icon.svg" />
        <p class="justy-block-zag">это возможности без границ!</p>
        <p>Наш сервис предоставляет широкий выбор специалистов из различных сфер деятельности, которые помогут Вам решить большинство своих проблем! У Вас будет возможность самому выбрать исполнителя, который Вас больше устраивает!</p>
      </div> -->
      <!-- <div class="justy-block">
        <img src="../../../../../../assets/img/ninth_icon.svg" />
        <p class="justy-block-zag">это взаимовыгодное сотрудничество!</p>
        <p>Помогая Вам найти специалиста, мы помогаем специалисту найти Вас!</p>
      </div> -->
      <!-- <div class="justy-block">
        <img src="../../../../../../assets/img/tenth_icon.svg" />
        <p class="justy-block-zag">это современно!</p>
        <p>Наше приложение позволит Вам найти необходимого специалиста из любой сферы деятельности без особых усилий!</p>
      </div> -->
    </div>
  
  </div>
