<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
    <title>GoodDeal</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">

    <meta property="og:image" content="../../assets/img/GD2.png" />
    <meta property="og:url" content="https://moscow.gooddealonline.ru/"/>

    <meta property="og:locale" content="ru_RU" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content='GoodDeal – услуги и работа' />
    <meta
      property="og:description"
      content="Gooddeal – это агрегатор (интернет-посредник), который стремится свести между собой исполнителей с потенциальными заказчиками.
      GoodDeal поможет Вам найти специалистов всех профилей, осуществить курьерскую доставку, грузоперевозку, стать попутчиком; или стать исполнителем,
      найти новых клиентов и больше зарабатывать"
    />
    <meta name="keywords" content="GoodDeal, Good Deal, Гуддил, гуд дил, работа, фриланс, задания, объявления, заработок, подработка, услуги,
      перевозка, доставка, ремонт, попутчик, курьер, мастер, исполнитель, уборка, всё для автомобилей, ремонт компьютеров, маникюр, красота и здоровье,
      услуги спецтехники, реклама, дизайн, услуги юриста, услуги бухгалтера, кулинария">

    <meta name="yandex-verification" content="4e5ee91fb15fceca" />
    <meta name='wmail-verification' content='1523467285cd96a64785a7e5664f45ef' />

    <meta name="google-site-verification" content="tUveRJ1J8bt-nkvdTACCjssapVNIy84kUpPC2n6FFYE" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='assets/bootstrap.min.js'></script>

    <link rel="stylesheet" type="text/css" href="../styles.css"/>
    <link rel="stylesheet" type="text/css" href="../gd.css"/>

    <style>
      .admin_block_mob_auth {
        padding: 30px 30px 193px;
      }

      .nav_dop_mob a {
        line-height: normal;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>

    <!-- Yandex.Metrika counter -->
    <script>
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(69792562, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/69792562" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <header class="header">
      <div class="wrapper">
        <div class="logo paddingi">
          <a style="background-image: url(../../assets/icons/gd_icon.svg); background-size: 40px; background-repeat: no-repeat; width: 40px; height: 38px;" class="logo_icon" href="/"></a>
        </div>

        <nav class="nav mob_unvis">
          <a class="def-href-point" href="https://gooddealonline.ru/new_task">Создать задание</a>
          <a class="def-href-point" href="https://gooddealonline.ru/find_task">Найти задание</a>
          <a class="def-href-point" href="https://gooddealonline.ru/performers">Найти исполнителя</a>
          <a class="def-href-point" href="https://gooddealonline.ru/about_us">О компании</a>
          <a class="def-href-point" href="https://gooddealonline.ru/our_partners">Партнеры</a>
          <a class="def-href-point" href="https://gooddealonline.ru/promotion">Акции</a>
          <a class="def-href-point" href="/news">Новости</a>
        </nav>

        <div class="admin mob_unvis paddingi">
          <a class="reg_link" href="https://gooddealonline.ru/registration">
            Регистрация
          </a>
          <a class="enter_link" href="https://gooddealonline.ru/login">
            Вход
          </a>
        </div>
        <div class="clear"></div>
      </div>
    </header>
    <div class="main_block">
      <div class="block_zag_index about_block">
        <div class="wrapper paddingi">
          <div class="left_index_black">
            <div class="heading">
              <h1 class="big_h1">Ошибка 404<br>Страница не найдена</h1>
            </div>
          </div>
          <div class="right_index_block gd-image"></div>
        </div>
      </div>
    </div>

    <div>
      <button type="button" class="open_menu" data-toggle="modal" data-target="#myStaticModal">
          <span></span>
          <span></span>
          <span></span>
      </button>
    </div>

    <div class="modal fade" id="myStaticModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="admin_block_mob">

            <button type="button" class="close" data-dismiss="modal" id ="closeModal"  aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <a class="enter_link" href="https://gooddealonline.ru/login">Вход</a>
            <a class="reg_link" href="https://gooddealonline.ru/registration">Регистрация</a>

          </div>

          <nav class="nav_mob">
            <a class="def-href-point" href="https://gooddealonline.ru/new_task">Создать задание</a>
            <a class="def-href-point" href="https://gooddealonline.ru/find_task">Найти задание</a>
            <a class="def-href-point" href="https://gooddealonline.ru/performers">Найти исполнителя</a>
            <a class="def-href-point" href="https://gooddealonline.ru/about_us">О компании</a>
            <a class="def-href-point" href="https://gooddealonline.ru/our_partners">Партнеры</a>
            <a class="def-href-point" href="https://gooddealonline.ru/promotion">Акции</a>
            <a class="def-href-point" href="/news">Новости</a>
          </nav>

          <nav class="nav_dop_mob">
            <a class="def-href-point" href="https://gooddealonline.ru/support/faq">F. A. Q.</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/reasons_blocking">Причины блокировки аккаунтов</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/motivation_programm">Мотивационная программа</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/commission">Условия формирования комиссии</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support/pricing">Условия ценообразования</a>
	    			<a class="def-href-point" href="https://gooddealonline.ru/support">Служба поддержки</a>
	    		  <a target="_blank" href="https://gooddealonline.ru/terms_of_user">
	    		  	Публичная оферта
	    		  </a>
	    		  <a target="_blank" href="https://gooddealonline.ru/privacy_policy">
	    		  	Политика конфеденциальности
            </a>
            <a class="def-href-point" href="/support/contact">Контакты</a>
          </nav>

          <p class="mt50">Следите за&nbsp;нами в&nbsp;соц.&nbsp;сетях:</p>

          <a class="icon_vk" style="background-image: url(../../../../assets/icons/vk_hover.svg)" href="https://vk.com/public196725756" target="_blank"></a>
          <a class="icon_instagram" style="background-image: url(../../../../assets/icons/instagram_hover.svg)" target="_blank" href="https://www.instagram.com/gooddeal.online/"></a>
          <a class="icon_facebook" style="width: 25px; background-image: url(../../../../assets/icons/facebook1.svg)" target="_blank" href="https://www.facebook.com/GoodDealFB"></a>
          <a class="icon_youtube" style="background-image: url(../../../../assets/icons/youtube_hover.svg)" target="_blank" href="https://www.youtube.com/channel/UCaGunnMSwgV4kXqWSa_AHag?view_as=subscriber"></a>

          <div style="margin-top: 30px;">
            <div>
              <a href="https://play.google.com/store/apps/details?id=com.keeneye.gd" style="background-color: black;" target="_blank" class="google_play_link"></a>
            </div>
            <div style="margin-top: 10px;">
              <a href="https://apps.apple.com/ru/app/gooddeal/id1507809289" style="background-color: black;" target="_blank" class="apple_store_link"></a>
            </div>
          </div>

          <p class="copyright_mob">©&nbsp;2021 GoodDeal. Все права защищены.</p>
        </div>
      </div>
    </div>

  </body>
</html>
