.block_input input {
    padding-left: 21px;
}

.block_select {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

:host /deep/ .registration-phone input {
    padding-left: 21px;
}