<div class="registration">
	<div class="registration_content">
		<div class="logo_reg"></div>
        <h1 class="reg_h1">Восстановление пароля</h1>
        <div *ngIf="!isVerificationTrue">
		    <div class="block_input">
		    	<input matInput class="white-caret-cursor" type="text" placeholder="Электронная почта или ID"
                      [(ngModel)]="passwordRecovery.username">
                <app-validation-error-template [errorHandler]="passwordRecovery" [propertyTemplate]="'username'">
                </app-validation-error-template>
            </div>
            <div class="block_input">
		    	<p-inputMask class="registration-phone" mask="+7 (999) 999-9999" placeholder="Номер телефона"
		    		[(ngModel)]="passwordRecovery.phoneNumber">
                </p-inputMask>
                <app-validation-error-template [errorHandler]="passwordRecovery" [propertyTemplate]="'phoneNumber'">
                </app-validation-error-template>
            </div>
            <app-validation-error-template [errorHandler]="passwordRecovery">
            </app-validation-error-template>
		    <button class="orange_btn" (click)="pullCheckRequest()">
		    	Продолжить
            </button>
        </div>

        <div *ngIf="isVerificationTrue">
		    <div class="block_input">
		    	<input matInput class="white-caret-cursor" type="password" placeholder="Новый пароль"
                      [(ngModel)]="passwordRecovery.password">
                <app-validation-error-template [errorHandler]="passwordRecovery" [propertyTemplate]="'password'">
                </app-validation-error-template>
            </div>
            <div class="block_input">
		    	<input matInput class="white-caret-cursor" type="password" placeholder="Повторите пароль"
		    		[(ngModel)]="passwordRecovery.confirmationPassword">
                <app-validation-error-template [errorHandler]="passwordRecovery" [propertyTemplate]="'confirmationPassword'">
                </app-validation-error-template>
            </div>
            <app-validation-error-template [errorHandler]="passwordRecovery">
            </app-validation-error-template>
		    <button class="orange_btn" style="margin-top: 20px;" (click)="getVerificationRequest()">
		    	Сменить пароль
            </button>
        </div>
    </div>
</div>
<app-side-panel [isJobNav]='false'></app-side-panel>
