.zadanie-block-price {
  color: #ff8000;
}

.zadanie-link {
  margin-top: 0px;
}

.request-button-block{
  display: grid;
  width: max-content;
  float: right;
}

.request-handling-btn {
  margin-top: 5px;
  width: 100%;
}

@media (max-width: 320px) {
  .request-button-block {width: auto;}
  .request-handling-btn {line-height: 16px; height: 37px;}
}

.request-handling-section {
  width: 100%;
  display: inline-block;
  margin: 10px 0;
}

.zadanie-block-name {
  float: left;
  margin-top: 20px;
}

.ball{
	position:absolute;
  top: auto;
  bottom: 0;
  right:0;
  height: 30px;
  width:30px;
  color: white;
  background: linear-gradient(0deg, rgba(255,88,0,1) 0%, rgba(255,170,0,1) 100%);
}
@media (max-width: 686px){
  .ball{
    position:relative;
  }
}
