<h1 mat-dialog-title>Оплата подписки</h1>
<p class="with_field" style="text-align: center; margin: 0 0 20px 0;">Для публикации вакансий и просмотра контактных данных соискателей необходимо оплатить подписку на подходящий Вам срок</p>
<div mat-dialog-content class="with_field">
  <div class="select-block_sz">
    <mat-select class="select-sz" required placeholder="Период" (selectionChange)="selectedCountDays($event)">
        <mat-option *ngFor="let days of rateJobDays" [value]="days.value" >
          {{days.viewValue}}
        </mat-option>
    </mat-select>
  </div>

  <div>
      <p class="zag-sz margin-top-30">Сумма: {{selectedRateJob.amountValue}}</p>
  </div>
</div>

<div mat-dialog-actions style="display: flex; justify-content: space-between;">
  <button class="orange_btn" (click)="onPayClick()">Оплатить</button>
</div>
