<div class="block_zag">
    <div class="wrapper">
        <h1 class="big_h1 paddingi">Создать задание</h1>
        <div class="punkt_zadanie paddingi">
            <div class="number_punkt">1</div>
            <p class="zag_punkt">Составьте задание</p>
            <p>Максимально детально заполните заявку</p>
        </div>
        <div class="punkt_zadanie paddingi">
            <div class="number_punkt">2</div>
            <p class="zag_punkt">Дождитесь исполнителя</p>
            <p>Дождитесь, пока исполнители обратят внимание на Ваше задание, или сами предложите задание <a (click)="navigatePerformers()" style="cursor: pointer;" class="link">исполнителю</a></p>
        </div>
        <div class="punkt_zadanie paddingi">
            <div class="number_punkt">3</div>
            <p class="zag_punkt">Исполнитель найден!</p>
            <p>Исполнитель уже берётся за выполнение, задание практически выполнено</p>
        </div>
        <div class="clear"></div>
        <p class="go_instructions" style="color: white;">У Вас есть вопросы? Тогда посмотрите <a class="link" target="_blank" href="https://www.youtube.com/watch?v=RA_CADpMB94">видеоинструкцию</a>!</p>
    </div>
</div>

<div class="wrapper content">
    <div class="width_66 paddingi">
      <div class="block-corner">
        <app-create-task-content
            [categories]="categories"
            [childCategories]="null"
            [selCategory]="null"
            (chooseCategoryEvent)="chooseCategoryHandler($event)"
        >
        </app-create-task-content>
      </div>

    </div>
    <div>
        <div class="width_33 mt_25 paddingi">
            <div class="block-corner">
                <p class="h1">Частые вопросы</p>
                <div class="faq">
                    <a href="/support/faq#get-offers" target="_blank">Когда я получу предложения и сколько?</a>
                    <a href="/support/faq#how-become-performer" target="_blank">Как стать исполнителем? Что мне нужно об этом знать?</a>
                    <a href="/support/faq#order price" target="_blank">Как формируется цена заказа?</a>
                    <a href="/support/faq#pay-service" target="_blank">Как оплатить услугу?</a>
                    <a href="/support/faq#reliable-performer" target="_blank">Как выбрать надёжного исполнителя и не быть обманутым?</a>
                    <a href="/support/faq#transfer_funds" target="_blank">Я выполнил задание. Когда мне переведут средства за работу?</a>
                    <a href="/support/faq" target="_blank">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="width_33 mt_25 card paddingi" style="float: right;">
            <div class="block-corner padding-block-potential-performer block-s-zayavkami" *ngIf="isTaskByPerformer && performer != null">
                <p class="potential_performer">Ваш потенциальный исполнитель</p>
                <div class="zakaz4ik_info">
                    <a href="/user/{{performer.idPartner}}" style="cursor: pointer; display: block;">
                        <img src="api/partner/info/photo/{{performer.idPartner}}" />
                    </a>

                    <a class="zakaz4ik_name" href="/user/{{performer.idPartner}}">{{performer.fio}}</a>
                    <p class="rg-p" style="display: grid;">
                    </p>
                </div>
                <div style="text-align: center; margin-top: 10px;">
                    <button class="orange_btn" style="height: 40px;" (click)="cancleCreateTaskForPerformer()">
                        Отменить создание задачи
                    </button>
                </div>
            </div>

            <app-display-advertising [place]="place"></app-display-advertising>
        </div>
        <div class="clear"></div>
    </div>
</div>
