<div class="wrapper content">
    <div class="block-corner">
        <p class="h1 font-weight-900">Контакты</p>
        <div>
            <div style="display: flex; position: relative;">
                <div style="margin-right: 55px;">
                    <p>ИП Ильчукова Марина Васильевна</p>
                    <p>ИНН 110100949440</p>
                    <p>ОГРНИП 320112100001601 от 22 января 2020 г.</p>
                    <p>Адрес регистрации: г. Сыктывкар, ул. Карла Маркса 185, кВ. 12, почтовый индекс: 167031</p>
                    <p>Информация по адресу (Это фактический адрес расположения офиса):
                        Российская Федерация, Республика Коми, г. Сыктывкар, ул. Интернациональная 78, 4 этаж, Офис 412.</p>
                    <p>Номер телефона: 8800-301-12-97</p>
                    <p>Email: office@gooddealonline.ru</p>
                </div>
            </div>
            <div>
                <app-map-display-common-info [mapProperty] = "mapTaskProperty"> </app-map-display-common-info>
            </div>
        </div>
    </div>
</div>
