<h1 *ngIf="data.id == null" mat-dialog-title>Добавление новости</h1>
<h1 *ngIf="data.id != null" mat-dialog-title>Изменение новости</h1>
<div mat-dialog-content class="with_field">

  <div>
    <p class="zag-sz margin-top-30">Заголовок</p>
    <input matInput type="text" [(ngModel)]="data.title">
  </div>

  <div>
    <p class="zag-sz margin-top-30">Краткое описание</p>
    <input matInput type="text" [(ngModel)]="data.shortDescription">
  </div>

  <div class="summernote">
    <p class="zag-sz margin-top-30">Описание</p>
    <div [(ngModel)]="data.description"
      [ngxSummernote]="config">
    </div>
  </div>

  <div class="margin-top-30">
    <mat-checkbox [(ngModel)]="data.published">Опубликовано</mat-checkbox>
  </div>

</div>

<div mat-dialog-actions style="display: flex; justify-content: space-between">
    <button class="orange_btn" (click)="onNoClick()">Отмена</button>
    <div *ngIf = "data.id == null">
        <button class="orange_btn" [mat-dialog-close]="data">Добавить</button>
    </div>
     <div *ngIf="data.id != null" >
        <button class="orange_btn" [mat-dialog-close]="data">Изменить</button>
     </div>
</div>
