:host /deep/ .datetime-section input.ui-inputtext {
    background: #F7F7F7 !important;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    padding: 0 25px;
    border: 0;
    line-height: 50px;
    border-radius: 25px;
    color: black;
    width: 270px;
}

.clear-button {
    width: 20px;
}

.bottom-chat .textarea-chat {
    width: calc(100% - 80px);
}

.textarea-chat-with-clear {
    width: calc(100% - 100px) !important;
}

.setting-window {
    position: relative;
    left: -374px;
    padding: 10px;
    color: black;
    text-align: start;
    width: 475px;
}

.datetime-section {
    display: flex;
}

.datetime-section-title {
    display: flex;
    align-items: center;
}

.filter-prop {
    display: flex;
}

.label-job {
    padding-left: 25px;
    display: inline;
}

.settings-button:hover .ku-ku,
.settings-button:focus .ku-ku{
	display:block
}

.orange_btn {
    border-radius: 15px;
    width: auto;
    line-height: 25px;
    height: 20px;
}

:host /deep/ .city-section .ui-dropdown {
    width: 270px;
    height: 50px;
    border: 0;
}


:host /deep/ .city-section .ui-dropdown-label-container {
    background: #F7F7F7 !important;

    padding: 0 25px;
    border: 0;
    line-height: 50px;
    border-radius: 25px;
}

:host /deep/ .city-section .ui-dropdown-label.ui-inputtext {
    background: #F7F7F7 !important;
    height: 50px;

    color: black;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    padding: 0;
}

::ng-deep  .city-section .ui-placeholder {
  color:#898989 !important;
}

:host /deep/ .city-section .ui-dropdown-trigger.ui-state-default {
    background: #F7F7F7 !important;
    position: absolute;
    right: 15px;
}

:host /deep/ .city-choose .ui-dropdown-label-container {
    width: 100%;
    margin-right: 2px;
}

.h1,
.orange_btn,
.text{
    font-family: 'Roboto',sans-serif;
    line-height: normal;
}

.text {
    margin-top: auto;
    margin-bottom: auto;
}

::ng-deep .ui-dropdown-filter-container {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;;
}

::ng-deep .ui-dropdown-panel {
    border-radius: 20px !important;
}

::ng-deep .ui-dropdown-item {
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

#price-zdn {width: 270px;}

#price-zdn {
  max-width: 270px;
}

.select-sz {
    width: auto;
}

.filter-prop {
    min-width: 30px;
    max-width: 100px;
}

.filter-prop p {min-width: 181px;}

@media (max-width: 550px) {
  .setting-window {width: 296px;  left: -186px;}
  #price-zdn {min-width: 100px !important; width: 100%;}
  .filter-prop p {min-width: 100px !important;}
  ::ng-deep body .ui-datepicker table {font-size: 9px !important;}
  ::ng-deep .ui-calendar .ui-datepicker {left: -50px !important;}
  .orange_btn {width: 135px;}
  .ku-ku {
    height: auto;
    width: 95%;
    right: auto;
    left: 2%;
    position: absolute;
    transform: translateY(360px);
   }
}

@media (max-width: 505px) {
    .ku-ku {
        transform: translateY(380px);
    }
}

@media (max-width: 455px) {
    .ku-ku {
        transform: translateY(400px);
    }
}

@media (max-width: 768px) {
  :host /deep/ .city-section .ui-dropdown {width: 100%;}
  :host /deep/ .datetime-section input.ui-inputtext {width: 165px;}
  .select-sz {min-width: 178px; width: 100%;}
  .filter-prop p {min-width: 270px;}
  #price-zdn {width: 166px;}
}

.ku-ku {
    height: auto;
}

.cb-div {
  display: flex;
}

.cb-div p {
  margin: 0;
}

@media(max-width: 550px) {
  .orange_btn {height: 40px;}
  .cb-div {margin-top: 11px !important;}
}

