<div class="with_field">
    <p class="h1">Редактирование пароля</p>
    <div>
        <div>
            <input matInput type="password" placeholder="Старый пароль"
                [(ngModel)]="data.oldPassword">
            <app-validation-error-template [errorHandler]="data" [propertyTemplate]="'oldPassword'">
            </app-validation-error-template>
        </div>
    </div>
    <div class="margin-top-30">
        <div>
            <input  matInput type="password" placeholder="Новый пароль"
                [(ngModel)]="data.newPassword">
            <app-validation-error-template [errorHandler]="data" [propertyTemplate]="'newPassword'">
            </app-validation-error-template>
        </div>
    </div>
    <div class="margin-top-30">
        <div>
            <input matInput type="password" placeholder="Повторите новый пароль"
                [(ngModel)]="data.confirmationNewPassword">
            <app-validation-error-template [errorHandler]="data" [propertyTemplate]="'confirmationNewPassword'">
            </app-validation-error-template>
        </div>
    </div>
    <div class="margin-top-30">
        <app-validation-error-template [errorHandler]="data">
        </app-validation-error-template>
    </div>

</div>
<div mat-dialog-actions style="display: flex; justify-content: space-between">
    <button class="orange_btn" (click)="onNoClick()">Отмена</button>
    <button class="orange_btn" (click)="updatePassword()"> Изменить </button>  
</div>
