.orange_btn {
  height: 30px;
  padding: 0 15px;
}

.agree_price_partner {
  margin-top: 20px;
}

@media (max-width: 396px) {
  .agree_price_partner button{height: auto;}
}

@media (max-width: 660px) {
  .orange_btn {width: -webkit-fill-available; margin-bottom: 5px;}
}

@media (max-width: 395px) {
  .orange_btn {height: 43px;}
}
