<div class="wrapper paddingi" id="special_opportunities">
    <h2 class="h2_index_big">Специальные возможности</h2>
    <div class="spexc-block">
      <div class="spexc-block-block">
        <div class="sbb-img"><img src="../../../../../../assets/img/money-bag.svg" /></div>
        <p>У нас работает безопасная система платежей</p>
      </div>
      <div class="spexc-block-block">
        <div class="sbb-img"><img src="../../../../../../assets/img/hands.svg" /></div>
        <p>Возможность работать с физическими лицами и организациями</p>
      </div>
      <div class="spexc-block-block">
        <div class="sbb-img"><img src="../../../../../../assets/img/list.svg" /></div>
        <p>У нас работает прозрачная система рейтинга</p>
      </div>
      <div class="spexc-block-block">
        <div class="sbb-img"><img src="../../../../../../assets/img/auction.svg" /></div>
        <p>У нас присутствует система торга</p>
      </div>
      <div class="spexc-block-block">
        <div class="sbb-img"><img src="../../../../../../assets/img/support.svg" /></div>
        <p>Круглосуточная техподдержка</p>
      </div>
      <div class="spexc-block-block">
        <div class="sbb-img"><img src="../../../../../../assets/img/responsive.svg" /></div>
        <p>Сервис адаптирован под мобильные устройства и компьютеры</p>
      </div>
    </div>
</div>
