<!-- <div class="wrapper content">
    <div>
        <div class="block-corner">
            <p class="h1">Новости</p>
            <p>Мы рады, что Вас заинтересовал раздел «Новости».</p>
            <p>На этой странице будут отображаться информация о наших новостях и новостях наших партнеров, встречах и интересных событих. Следите за нами в социальных сетях и на нашем сайте. </p>
            <p>Будем рады Вашему вниманию!</p>
        </div>
    </div>
</div> -->
<div class="block_zag">
	<div class="wrapper paddingi">
    <h1 class="big_h1">Новости</h1>
    <p style="color: white;">Самые актуальные новости о нас и наших партнёрах</p>
	</div>
</div>

<router-outlet></router-outlet>
