<div class="wrapper paddingi padding-botton-section">
	<h2 class="h2_index">Возможность временного сотрудничества</h2>
	<p class="podh2_index paddingi">Вы можете найти исполнителя для выполнения разовой работы или подработку в свободное время</p>
  <div class="preimuschestva-nav" style="margin-top: 80px;">
    <div class="pr-block-nav-text">
      <p class="paddingi">
        Ищите ответственного исполнителя для выполнения определённого задания?
        А может Вы - тот самый исполнитель, который готов в свободное время подработать на своих навыках и умениях?
        Тогда этот раздел для Вас!
      </p>
    </div>
          <div class="pr-block-nav-button">
      <button class="predz" (click)="navigateToHome()" >Перейти</button>
    </div>
  </div>
</div>
