<div class="wrapper paddingi">
    <h2 class="h2_index_big">Преимущества</h2>
    <div class="preimuschestva">
      <div class="pr-block">Качество <br> Возможность быстро найти ответственного специалиста нужного профиля</div>
      <div class="pr-block">Возможность выбора <br> Смотрите на оценки с отзывами и выбирайте лучшего исполнителя!</div>
      <div class="pr-block">Безопасность <br> Мы работаем только с честными и порядочными исполнителями</div>
      <!-- <div class="pr-block">Мы являемся одним трех официальных дистрибьюторов компании N, следовательно, продаем дешевле.</div> -->
    </div>
</div>