<div class="wrapper content">
    <div>
        <div class="block-corner">
            <div style="display: -webkit-box">
                <p class="h1 font-weight-900 сentre" style="margin-bottom: 0px;">ПУБЛИЧНАЯ ОФЕРТА</p>
            </div>
            <div style="display: -webkit-box">
                <p class="font-weight-900 сentre" style="margin-bottom: 35px;">по предоставлению сервиса «Перевод без риска»</p>
            </div>

            <!---->
            <div style="display: -webkit-box">
                <p class="font-weight-900">1. Термины и определения</p>
            </div>
            <p class="text-display">1.1. <b class="font-weight-900">Авторизация</b> – разрешение, предоставляемое Эмитентом либо Эквайрером для осуществления Перевода.
            </p>
            <p class="text-display">1.2. <b class="font-weight-900">Идентификатор перевода</b> – номер Средства платежа (номер платежной карты, банковского счета, электронного 
                средства платежа и пр. идентификатора), предоставленного Эмитентом в соответствии с заключенным с Получателем договором, используемый 
                Получателем в целях получения Перевода.
            </p>
            <p class="text-display">1.3 <b class="font-weight-900">Компания</b> – ИП Ильчукова Марина Васильевна (ОГРН: 320112100001601, место нахождения: г.Сыктывкар , ул. Карла Маркса, 
                д. 185, кв. 12) , предоставляющее Пользователям услуги информационного характера на основании лицензионного либо иного вида договора, 
                заключаемого с Пользователями посредством телекоммуникационной сети Интернет по адресу: gooddealonline.ru <b class="font-weight-900">(указать URL сайта Компании 
                с лицензионным (пользовательским) соглашением)</b>, в дальнейшем именуемые Сервис <b class="font-weight-900">«GoodDeal»</b>. <b class="font-weight-900">(может быть дополнен условным обозначением 
                Компании – аббревиатурой Компании либо иным условным обозначением) </b>
            </p>
            <p class="text-display">1.4.  <b class="font-weight-900">Оператор</b> (оператор по переводу денежных средств, электронных денежных средств) – Общество с ограниченной 
                ответственностью расчетная небанковская кредитная организация «Единая касса» (лицензия на осуществление банковских операций № 3512-К 
                от 07 ноября 2016 года), привлекаемый Эмитентом или Эквайрером в качестве банка посредника в целях осуществления расчетов по Переводу.
            </p>
            <p class="text-display">1.5. <b class="font-weight-900">Перевод</b> – действия Участников расчетов, направленные на организацию безналичных расчетов в форме перевода 
                денежных средств (электронных денежных средств) Плательщика в пользу Получателя по реквизитам Идентификатора перевода, осуществляемые 
                на основании Электронных запросов. Перевод осуществляется в форме «перевода денежных средств по требованию Получателя средств» 
                (прямое дебетование) посредством исполнения Оператором платежного требования Получателя в сумме Перевода с последующим возмещением 
                ему суммы Перевода в соответствии с договором с банком Плательщика (договорными отношениями между Участниками расчетов).
            </p>
            <p class="text-display">1.6  <b class="font-weight-900">Платежный сервис</b> – программный комплекс под условным наименованием «сервис «Перевод без риска», направленный на 
                обеспечение информационно-технологического взаимодействия между Пользователями и Участниками расчетов в целях осуществления Перевода.
            </p>
            <p class="text-display">1.7. <b class="font-weight-900">Пользователь</b> – любое физическое лицо, старше 18 лет, использующее информационный интернет ресурс 
                компании, указанной в п.1.3 настоящей оферты, прошедший процедуру регистрации и заключивший договор с Компанией по предоставлению 
                Сервиса «GoodDeal». При этом Пользователи в целях указанного договора в результате использования указанного ресурса могут подразделяться на:  
            </p>
            <p class="text-display punkt"><b class="font-weight-900">1.7.1 Плательщика</b> – Пользователь, имеющий намерение осуществить Перевод в пользу Получателя посредством 
                направления Электронного запроса. 
            </p>
            <p class="text-display punkt"><b class="font-weight-900">1.7.2 Получателя</b> – Пользователь, имеющий намерение принять Перевод в свою пользу посредством направления Электронного запроса. 
            <p class="text-display">1.8  <b class="font-weight-900">Средство платежа</b> – средство и (или) способ, позволяющие Пользователям составлять, удостоверять и передавать распоряжения 
                Эмитентам в целях осуществления перевода денежных средств, электронных денежных средств (в том числе в целях осуществления Переводов) в 
                рамках применяемых форм безналичных расчетов с использованием информационно-коммуникационных технологий, электронных носителей информации, 
                в том числе платежных карт, а также иных технических устройств. Пользователь в целях Перевода использует Средство платежа, 
                информационно-технологическое обслуживание которых обеспечивает Компания в соответствии с заключенным с Оператором договором. 
            </p>
            <p class="text-display">1.9  <b class="font-weight-900">Услуга</b> — услуга по осуществлению Компанией 
                информационно-технологического взаимодействия в соответствии с порядком, изложенным в настоящей оферте, по приему и передаче 
                Оператору Электронного запроса, сформированного посредством Сервиса <b class="font-weight-900">«GoodDeal»</b> Плательщиком, либо Получателем в целях 
                организации расчетов по Переводу. 
            </p>
            <p class="text-display">1.10  <b class="font-weight-900">Участники расчетов</b> – термин, применяемый для совместного упоминания лиц, либо 
                непосредственно участвующих в безналичных расчетах по совершаемым Переводам, либо осуществляющих информационно-технологическое обеспечение 
                указанных расчетов. Участниками расчетов являются операторы по переводу денежных средств (электронных денежных средств), обслуживающие 
                Плательщика, Получателя, либо Оператор и могут наименоваться в том числе:
            </p>
            <p class="text-display punkt"><b class="font-weight-900">1.10.1  Эквайрер</b> – оператор по переводу денежных средств (электронных денежных средств), обслуживающий 
                Оператора в соответствии с заключенным договором об осуществлении переводов с использованием Средств платежа.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">1.10.2  Эмитент</b> – оператор по переводу денежных средств (электронных денежных средств), 
                обслуживающий либо Плательщика, либо Получателя в рамках договора об использовании соответствующего Средства платежа.
            </p>
            <p class="text-display">1.11  <b class="font-weight-900">Электронный запрос</b> – электронный документ, формируемый в Сервисе 
                <b class="font-weight-900">«GoodDeal»</b> на основании распоряжения Пользователя (Плательщика в целях осуществления Перевода либо Получателя в целях формирования 
                Идентификатора перевода), содержащий в себе все необходимые для осуществления расчетов по Переводам реквизиты, предусмотренные 
                законодательством Российской Федерации и нормативными актами Банка России, и передаваемый средствами Сервиса <b class="font-weight-900">«GoodDeal»</b> Оператору.
            </p>

            <!---->
            <div style="display: -webkit-box">
                <p class="font-weight-900">2. Общие положения</p>
            </div>
            <p class="text-display">2.1. Компания предлагает Пользователям, имеющим намерение осуществить Перевод, воспользоваться 
                Платежным сервисом  в целях обеспечения информационно-технологического взаимодействия между Участниками расчетов при осуществлении 
                Перевода, заключив на приведенных ниже условиях публичной оферты договор по предоставлению Услуги (далее – <b class="font-weight-900">Договор</b>). Условия Договора 
                могут быть приняты Пользователем, не иначе как путем присоединения к ним в целом в соответствии со ст.428 Гражданского кодекса Российской Федерации.  
            </p>

            <p class="text-display">2.2. Компания в соответствии с условиями Договора предоставляет Услуги исключительно Пользователям при 
                одновременном соблюдении следующих требований:
            </p>
            <p class="text-display punkt">1)  Плательщик и Получатель имеют в своем распоряжении персонифицированное Средство платежа, 
                с использованием которого они имеют право составлять, удостоверять и передавать распоряжения Эмитенту, с которым у Плательщика 
                или Получателя заключен договор о предоставлении соответствующей платежной услуги; 
            </p>
            <p class="text-display punkt">2)  Получатель с использованием программно-аппаратных средств Сервиса «GoodDeal»  предъявил 
                Плательщику платежное требование, направленное на осуществление безналичных расчетов в форме «перевода денежных 
                средств по требованию Получателя средств» для осуществления Перевода с использованием Идентификатора перевода;
            </p>
            <p class="text-display punkt">3)  Плательщик с использованием программно-аппаратных средств Платежного сервиса предоставил акцепт 
                Эмитенту для осуществления расчетов по осуществляемому Переводу;
            </p>
            <p class="text-display punkt">4)  Оператором получены коды Авторизации:
            </p>
            <p class="text-display punkt_second_level">-  от Эмитента, обслуживающего Плательщика, на осуществление перевода денежных средств 
                (электронных денежных средств) в сумме Перевода в пользу Оператора в качестве кредитной организации посредника, обеспечивающей 
                осуществление расчетов по Переводу; 
            </p>
            <p class="text-display punkt_second_level">-  от Эмитента, обслуживающего Получателя, на осуществление перевода денежных средств 
                (электронных денежных средств) в сумме Перевода с использованием реквизитов Идентификатора переводов.
            </p>
            <p class="text-display">2.3. Компания привлекает Оператора в целях формирования и передачи платежных распоряжений 
                Плательщиков и Получателей соответствующему Участнику расчетов на основании Электронных запросов. Оператор в соответствии с правилами 
                безналичных расчетов и правил Международных платежных систем несет ответственность за безопасность информационно-технологического 
                взаимодействия между Участниками расчетов в целях организации расчетов по осуществляемым Переводам.
            </p>
            <p class="text-display">2.4. В рамках Договора Пользователь вправе дать поручение Компании осуществить Электронный запрос, 
                который предусмотрен функциональностью Сервиса <b class="font-weight-900">«GoodDeal»</b> и Платежного сервиса в целях совершения Перевода, в отношении которого 
                Оператором в рамках соответствующего договора с Эмитентом или Эквайрером получены соответствующие разрешения. 
            </p>

            <!---->
            <div style="display: -webkit-box">
                <p class="font-weight-900">3. Регистрация Пользователей в Сервисе «GoodDeal». </p>
            </div>
            <p class="text-display">3.1. Для получения прав доступа к Сервису <b class="font-weight-900">«GoodDeal»</b> Пользователь обязуется до начала его использования осуществить 
                регистрацию в Сервисе <b class="font-weight-900">«GoodDeal»</b> (<a href="/registration" target="_blank" style="cursor: pointer; margin-left: -54px;">ссылка</a>), которая может быть произведена посредством сети Интернет на сайте, либо в мобильном приложении 
                Сервиса <b class="font-weight-900">«GoodDeal»</b>.
            </p>
            <p class="text-display">3.2. Регистрация Пользователя в Сервисе «GoodDeal» осуществляется в соответствии с п. 1.3.1-1.3.4. 
                Публичной Оферты (Пользовательское Соглашение), условия которого представлены на Сайте в следующем порядке: 
            </p>

            <p class="text-display punkt"><b class="font-weight-900">3.2.1.</b> Для регистрации посредством Сайта необходимо:</p>
            <p class="text-display punkt_second_level">-  ввести в адресной строке Интернет-браузера электронный адрес Сайта;</p>
            <p class="text-display punkt_second_level">-  ввести в регистрационной форме нового пользователя номер своего мобильного телефона, который 
                регистрируется в Сервисе <b class="font-weight-900">«GoodDeal»</b> в качестве имени пользователя (далее - <b class="font-weight-900">Логин</b>) при использовании Сервиса <b class="font-weight-900">«GoodDeal»</b>;
            </p>
            <p class="text-display punkt_second_level">-  программный модуль Сервиса <b class="font-weight-900">«GoodDeal»</b> генерирует персональный одноразовый цифровой код (далее – <b class="font-weight-900">Пароль</b>), 
                который передается в виде SMS-сообщения на зарегистрированный телефон, в качестве средства аутентификации Пользователя;
            </p>
            <p class="text-display punkt_second_level">-  после получения SMS-сообщения, содержащего Пароль, пользователь вводит его в форму регистрации, 
                после чего процесс регистрации считается завершенным.</p>
            <p class="text-display punkt"><b class="font-weight-900">3.2.2.</b> Для регистрации через мобильное приложение необходимо:</p>
            <p class="text-display punkt_second_level">-  установить мобильное приложение на мобильный телефон. Соответствующее приложение доступно 
                для загрузки на Сайте либо на сервисном приложении соответствующей операционной системы (AppStore, Play Маркет, и пр.); 
            </p>
            <p class="text-display punkt_second_level">-  запустить мобильное приложение и ввести в форму регистрации (запускается при первом запуске 
                неавторизованного пользователя) номер своего мобильного телефона, который регистрируется в Сервисе <b class="font-weight-900">«GoodDeal»</b> в качестве Логина 
                при использовании Сервиса <b class="font-weight-900">«GoodDeal»</b>;
            </p>
            <p class="text-display punkt_second_level">-  дальнейшая регистрация осуществляется в аналогичном порядке регистрации посредством Сайта.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">3.2.3.</b> Сочетание аутентификационных данных Пользователя, используемых 
                в рамках Сервиса <b class="font-weight-900">«GoodDeal»</b>, определены сторонами в качестве аналога собственноручной подписи (АСП) Пользователя и признаются 
                сторонами в качестве однозначного и бесспорного подтверждения совершенных сделок, распоряжений, требований и уведомлений
            </p>
            <p class="text-display punkt"><b class="font-weight-900">3.2.4.</b> Пользователь обязан хранить свои аутентификационные данные в 
                недоступном для третьих лиц месте. В случае утраты аутентификационных данных, Пользователь обязан незамедлительно уведомить об 
                этом Компанию, отправив соответствующее уведомление посредством средств Сервиса <b class="font-weight-900">«GoodDeal»</b>  (доступно на Сайте и в мобильном приложении).
            </p>
            <p class="text-display punkt"><b class="font-weight-900">3.2.5.</b> Регистрация будет считаться завершенной после корректного ввода Пользователем 
                аутентификационных данных (Логина и Пароля) – авторизации Пользователя в Сервисе <b class="font-weight-900">«GoodDeal»</b>. По результатам регистрации (при первой авторизации) 
                Пользователю присваивается учетная запись в Сервисе <b class="font-weight-900">«GoodDeal»</b>.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">3.2.6.</b> Осуществив регистрацию и начав использовать Мобильное приложение 
                на мобильное устройство и (или) с использованием персонального компьютера и начав его использовать, Пользователь считается принявшим 
                условия Оферты в полном объеме, без всяких оговорок и исключений. При этом Оферта считается заключенной на изложенных ниже условиях 
                в соответствии со статьей 438 ГК РФ.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">3.2.7.</b> В случае несогласия Пользователя с какими-либо из положений Оферты, 
                если имеются какие-либо сомнения в понимании, правильности, законности условий Оферты, Пользователь не вправе пользоваться 
                Мобильным приложением.
            </p>

            <!---->
            <div style="display: -webkit-box">
                <p class="font-weight-900">4. Условия использования Платежного сервиса </p>
            </div>
            <p class="text-display">4.1. Компания предоставляет Пользователю в зависимости от его статуса (Плательщик, Получатель) возможность 
                с использованием программно-технических средств Сервиса «GoodDeal»  воспользоваться Услугой. В процессе оказания Услуги Компания 
                осуществляет следующие действия по формированию, обработке и передаче на исполнение соответствующего Электронного запроса:
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.1.1. При обработке Электронного запроса, сформированного Плательщиком, Плательщик:</b>
            </p>
            <p class="text-display punkt_second_level">4.1.1.1. Авторизуется в Сервисе <b class="font-weight-900">«GoodDeal»</b>, - вводит в Сервисе <b class="font-weight-900">«GoodDeal»</b>  Логин и Пароль.
            </p>
            <p class="text-display punkt_second_level">4.1.1.2. Руководствуясь инструкциями, указанными на экранных формах Сервиса «GoodDeal», самостоятельно 
                заполняет формы, предназначенные для составления Электронного запроса, который будет являться основанием по осуществлению расчетов по Переводу, - 
                выбирает из предлагаемого Сервисом <b class="font-weight-900">«GoodDeal»</b>   перечня:
            </p>
            <p class="text-display punkt_third_level">- Получателя, требование о переводе в пользу которого Плательщик готов акцептовать;
            </p>
            <p class="text-display punkt_third_level">- вид принадлежащего Плательщику Средства платежа, с использованием которого 
                Участниками расчетов будет совершаться Перевод; 
            </p>
            <p class="text-display punkt_third_level">- указывает сумму Перевода;
            </p>
            <p class="text-display punkt_third_level">- согласовывает размер комиссионного вознаграждения в случае его взимания;
            </p>
            <p class="text-display punkt_third_level">- заполняет электронные формы Платежного сервиса, необходимые для формирования Электронного запроса.
            </p>
            <p class="text-display punkt_second_level">4.1.1.3. Подтверждает выбранные параметры Перевода путем отправки сформированного Электронного запроса на сервер 
                Платежного сервиса, - нажимает кнопку «отправить» или аналогичную.
            </p>
            <p class="text-display punkt_second_level">4.1.1.4. Подтверждает параметры Перевода на платежной странице Эмитента в соответствии с условиями 
                договора платежных услуг, заключенного с Эмитентом.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.1.2. При обработке Электронного запроса, сформированного Получателем, Получатель:</b>
            </p>
            <p class="text-display punkt_second_level">4.1.2.1. Авторизуется в Сервисе <b class="font-weight-900">«GoodDeal»</b>, - вводит в Сервисе Логин и Пароль.
            </p>
            <p class="text-display punkt_second_level">4.1.2.2. Руководствуясь инструкциями, указанными на экранных формах Сервиса «GoodDeal», 
                самостоятельно заполняет формы, предназначенные для составления Электронного запроса, который будет являться основанием по осуществлению 
                расчетов по Переводу, - вводит в соответствующие электронные поля Сервиса__:
            </p>
            <p class="text-display punkt_third_level">- Идентификатор перевода – вид принадлежащего Получателю Средства платежа, с 
                использованием реквизитов которого будет зачислен Перевод;
            </p>
            <p class="text-display punkt_third_level">- указывает сумму платежного требования, акцепт которого должен предоставить Плательщик (сумму Перевода);
            </p>
            <p class="text-display punkt_third_level">- определяет условия перечисления либо не перечисления Оператором суммы Перевода (или сумм Переводов), 
                в т.ч. период времени, в течение которого должны быть совершены расчеты по осуществленному Переводу (Переводам);
            </p>
            <p class="text-display punkt_third_level">- согласовывает размер комиссионного вознаграждения в случае его взимания;
            </p>
            <p class="text-display punkt_third_level">- заполняет электронные формы Платежного сервиса, необходимые для формирования Электронного запроса.
            </p>
            <p class="text-display punkt_second_level">4.1.2.3. Подтверждает выбранные параметры Перевода в т.ч. размер взимаемой с Получателя комиссии 
                (п. 4.6 Договора), путем отправки сформированного Электронного запроса на сервер Платежного сервиса, - нажимает кнопку «отправить» или аналогичную.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.1.3.</b> В любой момент в процессе приема от Пользователя параметров Электронного 
                запроса Компания имеет право запросить, а Пользователь по такому запросу осуществляет ввод дополнительных параметров (идентификаторов, 
                информации связанной с осуществлением Перевода) для проведения Оператором Авторизации.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.1.4.</b> Компания по результатам осуществленной Авторизации сообщает 
                Пользователю результат оказания Услуги путем вывода электронного уведомления об успешном/неуспешном исполнении Электронного запроса 
                на основной экранной форме Платежного сервиса, которое, кроме вышеуказанного, содержит следующие сведения:
            </p>
            <p class="text-display punkt_second_level">4.1.4.1. Плательщик и Получатель получают информацию об успешном осуществлении расчетов по Переводу.
            </p>
            <p class="text-display punkt_second_level">4.1.4.2. Получатель получает информацию об отказе Плательщика в акцепте платежного требования Получателя.
            </p>
            <p class="text-display punkt_second_level">4.1.4.3. Плательщик в случае отказа в Авторизации акцепта платежного требования Получателя либо в 
                случае отзыва, ранее предоставленного с использованием средств Платежного сервиса акцепта, получает информацию о дате совершения Оператором 
                операции возврата в сумме Перевода.
            </p>
            <p class="text-display">4.2. Расчеты по Переводу осуществляются Участниками расчетов с привлечением Оператора посредством выполнения 
                соответствующих банковских операций в последовательности, определенной применяемыми Участниками расчетов правилами безналичных расчетов, 
                в т.ч. договорами, заключенными между Участниками расчетов, при этом:
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.2.1.</b> Оператор перечисляет денежные средства (электронные денежные средства) в 
                пользу Получателя в сумме совершенных за определенный период операций по Переводу (Переводам) за вычетом согласованной Получателем комиссии 
                (п.4.1.2.3 Договора) на основании распоряжения Компании.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.2.2.</b> Возврат денежных средств (электронных денежных средств) Плательщику в 
                допустимых в Договоре случаях осуществляется с использованием реквизитов Средства платежа, указанного Плательщиком в Электронном запросе в 
                целях совершения Перевода. 
            </p>
            <p class="text-display">4.3. Плательщик имеет право в любой момент отозвать предоставленный акцепт на осуществление расчетов по Переводу до 
                момента наступления безотзывности Перевода (п.4.4 Договора).
            </p>
            <p class="text-display">4.4. Настоящим определяется, что: 
            </p>
            <p class="text-display punkt"><b class="font-weight-900">- безусловность</b> перевода денежных средств (электронных денежных средств) по 
                осуществляемому в соответствии с Договором Переводу наступает в момент перевода денежных средств (электронных денежных средств) Эмитентом, 
                обслуживающим Плательщика, в пользу Оператора; 
            </p>
            <p class="text-display punkt"><b class="font-weight-900">- безотзывность</b> перевода денежных средств (электронных денежных средств) по 
                осуществляемому в соответствии с Договором Переводу наступает в момент выполнения Оператором действий п; 
            </p>
            <p class="text-display punkt"><b class="font-weight-900">- безотзывность</b> перевода денежных средств (электронных денежных средств) по 
                осуществляемому в соответствии с Договором Переводу наступает в момент выполнения Оператором действий по перечислению денежных средств 
                (электронных денежных средств) в пользу Получателя;
            </p>
            <p class="text-display punkt"><b class="font-weight-900">- окончательность</b> Перевода наступает в момент отправки Компанией сообщений о завершенных 
                расчетах в соответствии с п.4.1.4.1 Договора. 
            </p>
            <p class="text-display">4.5. Компания с использованием средств Сервиса «GoodDeal»  в режиме реального времени обязуется фиксировать в 
                электронном регистре учета возникновение, изменение или прекращение взаимных прав и обязательств Участников расчетов, возникающих в 
                связи с исполнением Электронных запросов на осуществление расчетов по Переводам, формируемых и передаваемых Компанией в соответствии 
                с условиями Договора.
            </p>
            <p class="text-display">4.6. За предоставление Услуг в соответствии с Договором вознаграждение взимается с Получателя (Плательщика) в 
                виде комиссии от суммы совершаемого Перевода, при этом в любом случае:
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.6.1.</b> Информация о размере комиссии за оказание Услуг посредствам 
                Сервиса <b class="font-weight-900">«GoodDeal»</b>  размещается на Сайте, а также в экранных формах Сервиса <b class="font-weight-900">«GoodDeal»</b>  при формировании Электронного запроса.
                расчетах в соответствии с п.4.1.4.1 Договора. 
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.6.2.</b> Размер комиссии, взимаемой с Получателя (Плательщика), указывается 
                Компанией в экранной форме Сервиса <b class="font-weight-900">«GoodDeal»</b>  после ввода Получателем (Плательщиком) всех необходимых параметров Идентификатора перевода 
                (Средства платежа) – до момента подтверждения параметров Электронного запроса Плательщиком (Получателем). При этом Получатель (Плательщик) 
                вправе отказаться от оформления Электронного запроса, если по каким-либо причинам его не устроит размер взимаемой в соответствии с 
                Договором комиссии.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">4.6.3.</b> Оператор удерживает комиссию за оказание Услуг в пользу Компании: 
            </p>
            <p class="text-display punkt_second_level">- в случае взимания комиссии с Получателя – путем удержания части суммы денежных средств 
                (электронных денежных средств) из перечисляемых Плательщиком в соответствии с Договором на основании поручения Получателя, <b class="font-weight-900">при этом</b> 
                соответствующее поручение считается данным Получателем при формировании им Электронного запроса в соответствии с п.4.1.2 Договора, 
                в сумме равной сумме комиссии;
            </p>
            <p class="text-display punkt_second_level">- в случае взимания комиссии с Плательщика – путем увеличения суммы совершаемого Перевода на 
                сумму комиссии при формировании Плательщиком Электронного запроса и последующего удержания суммы комиссии на основании поручения 
                Плательщика, <b class="font-weight-900">при этом</b> соответствующее поручение считается данным Плательщиком при формировании им Электронного запроса в соответствии 
                с п.4.1.1 Договора, в сумме равной сумме комиссии.
            </p>
            <p class="text-display">4.7. Пользователь вправе в любое время в рамках предоставляемого Сервисом <b class="font-weight-900">«GoodDeal»</b>  информационно-технологического 
                взаимодействия получать через интерфейс, представленный Сервисом «GoodDeal», информацию о совершаемых Переводах, а равно и иную информацию, 
                связанную с оказанием Пользователю Услуг в соответствии с Договором. 
            </p>
            <p class="text-display">4.8. Компания вправе отказать Пользователю в формировании Электронного запроса, направляемого в адрес Эмитента в 
                отношении которого Оператор не имеет технической возможности осуществить информационное взаимодействие (технологические проблемы с 
                каналом связи, приостановка приема Авторизационных запросов по инициативе Эмитента, Эквайрера и др.). Компания предоставляет Пользователям 
                соответствующие сведения об ограничениях Сервиса (возможности совершения Авторизации) до момента оформления соответствующего Электронного 
                запроса на основании данных Оператора.  
            </p>

            <!---->
            <div style="display: -webkit-box">
                <p class="font-weight-900">5. Прочие положения.</p>
            </div>
            <p class="text-display">5.1. При разрешении споров, вытекающих из Договора и/или связанных с использованием Платежного сервиса в целях 
                совершения расчетов по Переводам, документами, подтверждающими заявленные одним из участников спора факты, являются:
            </p>
            <p class="text-display punkt"><b class="font-weight-900">5.1.1.</b> Поручение Плательщика или Получателя в электронном виде - электронный 
                документ, сформированный в программных средствах Сервиса <b class="font-weight-900">«GoodDeal»</b>  и хранящийся у Компании на сервере Сервиса <b class="font-weight-900">«GoodDeal»</b>  после 
                осуществления расчетов по совершенному Переводу.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">5.1.2.</b> Электронный журнал, в состав которого Оператором включена информация о 
                Переводах на основании электронных документов (п.п.4.1.1, 4.1.2 Договора), оформляемый Оператором при совершении действий по обеспечению 
                расчетов по совершенным и осуществляемым Переводам.
            </p>
            <p class="text-display punkt"><b class="font-weight-900">5.1.3.</b> Электронный протокол действий Пользователя и происходящих в связи с этим событий, 
                регистрируемых техническими устройствами и программным обеспечением Сервиса <b class="font-weight-900">«GoodDeal»</b>  либо Платежного сервиса.
                При этом в случае несоответствия указанных выше документов друг другу (несоответствия друг другу сведений, содержащихся в данных документах) 
                электронный документ, остающийся у Оператора, является документом, подтверждающим действительность осуществленных расчетов по Переводам и условий 
                Договора. 
            </p>
            <p class="text-display">5.2. Компания не несет ответственность в случае, если Пользователь допустил ошибку при вводе в Сервис <b class="font-weight-900">«GoodDeal»</b> / Платежный сервис реквизитов Средства платежа, 
                Идентификатора перевода (например, идентифицирующие в учетной системе Эмитента сведения). 
            </p>
            <p class="text-display">5.3. Все риски, связанные с существенным изменением обстоятельств, из которых Пользователь исходил при заключении 
                Договора, Пользователь принимает на себя, и такие обстоятельства не являются основанием для изменения и расторжения Договора, а 
                также неисполнения Пользователем обязательств по Договору.  
            </p>
            <p class="text-display">5.4. Компания вправе в одностороннем порядке вносить изменения в Договор путем публикации на Сайте текста настоящей 
                оферты, содержащего такие изменения (актуализации настоящей оферты). Изменения вступают в силу с момента опубликования, если иной 
                срок вступления изменений в силу не определен дополнительно при публикации актуального текста настоящей оферты.
            </p>
            <p class="text-display">5.5. Договор считается заключенным на условиях настоящей оферты с момента совершения Пользователем действий, 
                направленных на формирование Электронного запроса любым из способов, предусмотренных настоящей офертой, и действует до исполнения 
                Участниками расчетов обязательств по совершению расчетов по Переводу
            </p>
            <p class="text-display">5.6. Заключением Договора на условиях настоящей оферты Пользователь дает согласие на обработку Компанией 
                его персональных данных, а именно на совершение, в том числе, следующих действий: сбор, систематизацию, накопление, хранение, 
                уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, 
                уничтожение, с целью заключения договоров, исполнения заключенных договоров, а также с целью выполнения требований нормативных 
                актов по противодействию легализации денежных средств, полученных преступным путем, и финансированию терроризма. Указанные 
                действия могут совершаться с использованием средств автоматизации. Пользователь также дает свое согласие на передачу, в целях 
                осуществления действий, предусмотренных настоящим пунктом, Компанией его персональных данных третьим лицам при наличии надлежаще 
                заключенного между Компанией и такими третьими лицами договора.
            </p>
            <p class="text-display">5.7. Каждая из сторон вправе в одностороннем внесудебном порядке расторгнуть Договор, письменно уведомив об этом 
                другую Сторону за 10 (Десять) календарных дней до планируемой даты расторжения. При этом претензии сторон друг к другу по Услугам, 
                совершенным с использованием средств Платежного сервиса, предъявляются в соответствии с действующим законодательством Российской Федерации.
            </p>
            <p class="text-display">5.8. Расторжение Договора не означает освобождения сторон от их обязательств по ранее совершенным сделкам и иным операциям, 
                в том числе, от необходимых расходов и выплаты вознаграждения Компании в соответствии с условиями Договора.
            </p>
        </div>
    </div>
</div>