.сentre{
    margin-left: auto;
    margin-right: auto;
}

.text-display {
    text-indent: 55px;
    line-height: normal;
}

.h1 {
    font-weight: 900;
}

.punkt{
    margin-top: -20px;
    text-indent: 85px;
}

.font-weight-900 {
    font-weight: 900;
}

.next-string-p{
    margin-top: -20px;
}

.punkt_second_level {
    margin-top: -20px;
    text-indent: 132px;
}

.punkt_third_level {
    margin-top: -20px;
    text-indent: 190px;
}