<div class="orange_back" style="margin-top: 100px;">
  <div class="poligon"></div>
</div>

<footer class="footer mob_unvis">
  <div class="wrapper">
    <div class="footer_logo paddingi">
      <div class="footer_icon"></div>
    </div>
    <div class="footer_menu paddingi">
      <nav class="nav_footer">
        <a class="def-href-point" href="/support">Служба поддержки</a>
        <a class="def-href-point" href="/support/legal_info">Контакты</a>
        <a target="_blank" href="/privacy_policy">
          Политика конфиденциальности
        </a>
      </nav>
    </div>
    <div class="footer_telephone paddingi">
      <p class="telephone_footer">8800-888-99-99</p>
    </div>
    <div class="footer_last paddingi">
      <p class="copyright">©&nbsp;2021 SkullHunt. Все права защищены.</p>
    </div>
    <div class="clear"></div>
  </div>
</footer>
