<div class="block_zag">
	<div class="wrapper paddingi">
		<p class="big_h1">Найди себе подходящую работу</p>
		<div>
            <p style="color: white;">Как стать исполнителем? Что мне нужно об этом знать? </p>
            <a href="https://www.youtube.com/watch?v=M2_QN7BHiVY" target="_blank">Смотреть видеоинструкцию.</a>
            <a href="support/faq#how-become-performer" style="margin-left: 5px;" target="_blank">Читать инструкцию.</a>
        </div>

	</div>
</div>
<div class="wrapper content">

    <ul style="margin-bottom: 10px;" сlass="breadcrumb">
        <li class="color_blue breadcrumb-item">
            <a (click)="removeAllFilters()">Найти задание</a>
        </li>
        <ng-container *ngIf="isEmptyRootCategoriesBreadCrumb() ; else isNotEmptyRootCategoriesBreadCrumb">
            <li class="color_orange  breadcrumb-item">
                <a [ngClass]="{'active':isNanTaskId()}" [attr.disabled]="!isNanTaskId()" (click)="deleteCategories()">
                    {{selectedCity}}
                </a>
            </li>
        </ng-container>
        <ng-template #isNotEmptyRootCategoriesBreadCrumb>
            <li class="color_blue breadcrumb-item" [ngClass]="{'breadcrumb-separator':isNotEmptyCategoriesNames()}">
                <a (click)="deleteCategories()">{{selectedCity}}</a>
            </li>
            <span class="breadcrumb-item">
                <a [ngClass]="{'active':isNanTaskId()}" [attr.disabled]="!isNanTaskId()" href="find_task/">
                    {{getCategoriesNames()}}
                </a>
            </span>
        </ng-template>
        <span class="breadcrumb-item active">{{taskSelectionName}}</span>
    </ul>

    <div class="width_66">
        <div class="block-corner">
            <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
        </div>
    </div>

    <div class="width_33 paddingi">

      <div *ngIf="isNanTaskId(); else customerInfoBlock" class="block-corner mob_unvis categories-section" style="height: -webkit-calc(100vh - 165px);">
          <p class="h1">Выберите категорию</p>
          <div class="category" style="height: -webkit-calc(100vh - 285px); overflow-y: auto; display: block;">
            <app-filter-categories [categories]="categories" [choosenCategories]="choosenCategories"
              [choosenCategoryIds]="choosenCategoryIds" [isMobileMode]="false" (toggleCategoryEvents)="toggleCategory($event)">
            </app-filter-categories>
          </div>
      </div>

      <ng-template #customerInfoBlock>
        <div class="block-corner block-s-zayavkami" >
          <div class="zakaz4ik_info">
              <a href="/user/{{customerInfo.partnerId}}" style="cursor: pointer; display: block;">
                  <img src="api/partner/info/photo/{{customerInfo.partnerId}}" />
              </a>
              <p class="grey-little-p">
                  Заказчик
              </p>
              <a class="zakaz4ik_name" href="/user/{{customerInfo.partnerId}}">{{customerInfo.username}}</a>
              <p class="rg-p" style="display: grid;">
              </p>
          </div>
        </div>
      </ng-template>

      <app-display-advertising [place]="place"></app-display-advertising>
    </div>
  <div class="clear"></div>
</div>
