<div class="wrapper paddingi">
    <h2 class="h2_index_big no-litle">Как формируется цена заказа и какую цену мне поставить?</h2>
    <p style="text-align: justify;">
      В приложении GoodDeal Вы можете поставить ту цену, которую готовы заплатить за работу исполнителю . Исполнители могут откликнуться на
      Ваше задание по текущей цене, или предложить более выгодные для Вас или себя условия. В целом на стоимость работ обычно влияет сложность
      работ, наличие дополнительных услуг (вынести весь мусор после ремонта, расставить мебель и т.д.) а так же срочность выполнения задания.
      Чтобы быстрее найти исполнителя мы рекомендуем указывать реальные цены.
    </p>
  	<!-- <div class="price-block">
  		<div class="pri-block">Вы сами определяете цену</div>
  		<div class="pri-block">Старайтесь указывать реальные и объективные цены</div>
  		<div class="pri-block">Указывать можно и примерные цены</div>
  		<div class="pri-block">На цену может влиять срочность, сложность, объем работ</div>
    </div> -->
</div>

<div>
  <div class="wrapper">
    <div class="flex">
      <div class="category_block">
        <div class="category_block_new">
          <a>
            <img src="../../../../../../assets/img/85181.png"/>
          </a>
          <a class="zag-create"> Иванов Степан Петрович</a>
          <div class="non-focused-label" style="cursor: pointer;">
            <span class="zag-create-span">4500₽</span>
            <p style="margin: 0 0 10px">Создана 05.02.2021</p>
            <p class="desc-create">Поклеить обои в детской</p>
          </div>
        </div>
      </div>
      <div class="category_block">
        <div class="category_block_new">
          <a>
            <img src="../../../../../../assets/img/2723375681.jpg"/>
          </a>
          <a class="zag-create"> Бойцова Ангелина Степановна</a>
          <div class="non-focused-label" style="cursor: pointer;">
            <span class="zag-create-span">1000₽</span>
            <p style="margin: 0 0 10px">Создана 15.02.2021</p>
            <p class="desc-create">Почистить ноутбук Acer от пыли</p>
          </div>
        </div>
    </div>
      <div class="category_block">
        <div class="category_block_new">
          <a>
            <img src="../../../../../../assets/img/88617.png"/>
          </a>
          <a class="zag-create"> Чупров Владимир Богданович</a>
          <div class="non-focused-label" style="cursor: pointer;">
            <span class="zag-create-span">900₽</span>
            <p style="margin: 0 0 10px">Создана 16.02.2021</p>
            <p class="desc-create">Заменить 2 розетки</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
