.сentre{
    margin-left: auto;
    margin-right: auto;
}

.text-display {
    text-indent: 55px;
    line-height: normal;
}

.h1 {
    font-weight: 900;
}

.punkt{
    margin-top: -20px;
}

.font-weight-900 {
    font-weight: 900;
}

.next-string-p{
    margin-top: -20px;
}

ul {
  list-style: unset;
}

p {
  color: #222222 !important;
}

a {
  font-family: Times New Roman, serif;
}
